#multiTheatreRoomSelect {
  padding: 0;
  text-align: center;
  width: 120px;

  option {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  &:focus option:checked {
    background: $primary-color
      linear-gradient(0deg, $primary-color 0%, $primary-color 100%);
  }
}

select:focus,
input:focus {
  border-color: #121212 !important;
}

.hide {
  display: none;
}

.edit-icon-wrapper {
  .fas.fa-pencil-alt {
    position: absolute;
    top: 35px;
    left: 90px;
  }
}

.fas.fa-search {
  position: absolute;
  top: 20px;
  left: 10px;
}

.img-wrapper {
  background-color: #c2c2c2;
  border-radius: 8px;
  height: 580px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  min-height: 580px;
  min-width: 360px;
  overflow: hidden;
  width: 360px;

  img {
    object-fit: cover;
  }
}

.dashboard {
  background-color: rgb(243, 243, 243);
  display: flex;
  position: relative;
  width: 100%;
}

.db-nav {
  background-color: $primary-color;
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  overflow: hidden;
  width: 100%;

  &__item {
    color: #fff;
    cursor: pointer;
    height: 100px;
    list-style: none;
    opacity: 0;
    padding: 16px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease-in-out;
    width: 170px;

    a {
      color: #fff;
      cursor: pointer;
      font-size: 1.3rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
    }

    i {
      display: block;
      margin-bottom: 8px;
    }

    &:hover {
      background-color: #cc5249;

      &::before {
        background-color: #502825;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
      }
    }

    &:first-child {
      animation: enter-in 1.5s forwards;
    }

    &:nth-child(2) {
      animation: enter-in 1.5s 0.25s forwards;
    }

    &:nth-child(3) {
      animation: enter-in 1.5s 0.5s forwards;
    }

    &:nth-child(4) {
      animation: enter-in 1.5s 0.75s forwards;
    }

    &:nth-child(5) {
      animation: enter-in 1.5s 1s forwards;
    }

    &:last-child {
      animation: enter-in 1.5s 1.25s forwards;
    }
  }

  &__active {
    background-color: #cc5249;

    &::before {
      background-color: #502825;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
    }
  }
}

.db-view {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  .srh-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    min-height: 100%;
    min-width: 408px;
    width: 65%;

    .input-inline {
      flex-direction: column;
      position: relative;
      width: 100%;

      button {
        line-height: 1.5;
        margin-top: 60px;
        width: 65%;
      }

      &.body {
        display: flex;
        height: 100%;
        justify-content: space-between;
        width: 100%;
      }

      .form-group {
        position: relative;
        width: 100%;

        .form-control {
          margin-right: 10px;
          margin-top: 10px;
          padding-left: 32px;
          position: relative;
          width: 400px;

          &:focus {
            box-shadow: none;
          }
        }

        .search_sug {
          background-color: #fff;
          border: 1px solid #121212;
          border-radius: 5px;
          height: 270px;
          margin-top: 3px;
          overflow: scroll;
          position: absolute;
          width: 97.5%;
        }

        &:first-child {
          z-index: 2;
        }
      }

      &:first-child {
        display: flex;
        flex-direction: row;

        .form-group {
          width: max-content;

          .list-group-item {
            background-color: #242526;
            color: #fff;
            cursor: pointer;
            display: flex;
            height: 80px;
            padding: 10px;
            width: 100%;

            img {
              margin-right: 12px;
            }

            h6 {
              margin: 0;
            }

            &.na {
              align-items: center;
              display: flex;
              justify-content: center;
            }

            &.active,
            &:hover {
              background-color: #3e4042;
              backdrop-filter: blur(4px);
              border: none;

              h6 {
                border: none;
                backdrop-filter: blur(4px);
              }
            }
          }
        }
      }
    }

    &.empty {
      height: 575px;
      width: 100%;
    }
  }
}

.srh-results {
  font-size: 1rem;
  height: 80%;
  list-style: none;
  margin-top: 18px;
  width: 65%;

  li {
    color: $primary-color;
    margin-bottom: 10px;
    width: 100%;

    & > span {
      color: #121212;
      float: right;
    }

    &:nth-child(5) {
      height: max-content;
    }
  }
}

.loader {
  animation: load4 1.3s infinite linear;
  border-radius: 50%;
  color: $primary-color;
  font-size: 20px;
  height: 1em;
  position: absolute;
  top: 50%;
  left: 45%;
  text-indent: -9999em;
  transform: translateZ(0);
  width: 1em;
  z-index: 100;
}

@keyframes enter-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 520px) {
  // .dashboard {
  //   height: 100vh;
  //   padding: 10px;
  // }

  // .input-inline {
  //   &:first-child {
  //     flex-direction: column;
  //   }
  // }

  // .srh-form {
  //   .input-inline {
  //     margin-bottom: auto;
  //     width: 35%;

  //     &:nth-child(2) {
  //       align-self: flex-end;
  //       margin-top: 180px;
  //       padding-top: 50px;
  //       position: relative;
  //       width: 100%;
  //     }
  //   }
  // }

  // .db-view {
  //   flex-direction: column;
  //   overflow: hidden;
  //   padding: 0;
  //   position: relative;
  //   width: 100%;

  //   .srh-form {
  //     justify-content: space-evenly;
  //     min-width: 100%;
  //     width: 100%;
  //   }
  // }

  // input {
  //   &.form-control {
  //     width: 100%;
  //   }
  // }

  // .img-wrapper {
  //   display: block;
  //   height: 45%;
  //   margin: 0;
  //   position: absolute;
  //   top: 0px;
  //   right: 0;
  //   width: 60%;
  // }

  // .srh-results {
  //   font-size: 1.2rem;
  //   margin: auto;
  //   width: 80%;

  //   li > span {
  //     margin: 0;
  //     width: 100%;
  //   }
  // }
}

@media only screen and (max-width: 520px) {
  .hide {
    display: none;
  }

  .dashboard {
    flex-direction: column;
    height: max-content;
    padding: 0;
    position: relative;
  }

  .db-sidebar {
    height: 100px;
  }

  .db-nav {
    display: flex;
    overflow-x: scroll;

    &__item {
      min-width: 140px;

      &:hover {
        &::before {
          display: none;
        }
      }
    }

    &__active {
      &::before {
        display: none;
      }
    }
  }

  .db-view {
    height: 100%;
    padding: 10px;
    position: relative;
    width: 100%;

    .srh-form {
      height: 100%;
      min-height: 100%;
      min-width: 100%;

      .input-inline {
        flex-direction: column;
        height: 100%;
        width: 100%;

        &:first-child {
          flex-direction: column;
        }

        &.body {
          margin-top: 80px;
          position: relative;
          height: 100%;
          width: 100%;

          div {
            height: 100%;
            position: relative;
          }

          button {
            margin-top: 40px;
            width: 100%;
          }

          .srh-results {
            margin-top: 200px;
            height: max-content;
            width: 100%;

            span {
              text-align: right;
              width: 100%;
            }
          }
        }

        .form-group {
          height: 40px;
          width: 100%;

          .form-control {
            width: 350px;
          }
        }
      }

      &.empty {
        height: 100%;
        width: 100%;
      }
    }
  }

  .search_sug {
    margin-top: 170px;

    .srh-results {
      width: 100%;

      li:nth-child(5) {
        margin-bottom: 160px;
      }
    }
  }

  .img-wrapper {
    background-color: #c2c2c2;
    border-radius: 8px;
    height: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 10px;
    min-height: 300px;
    min-width: 220px;
    position: absolute;
    top: 46px;
    right: 0;
    width: 220px;

    img {
      object-fit: cover;
    }
  }
}
