$primary-color: #f1675d;
$section-background-color: #fafafa;
$muted: #9b9c9e;
$muted-light: #d8d8d8;
$primary-font: "Copyright Klim Type Foundry";
$secondary-font: "Lato", sans-serif;

// *************
// utils >> functions, mixins
// *************
@import "utils";

@import "owl-carosuel";
@import "buttons";
@import "navbar";
@import "footer";
@import "card";
@import "pages/pages";
