.nav-light {
  border-color: #fff !important;
  color: #fff !important;
}

.nav-trans {
  background-color: transparent !important;
  position: absolute !important;
}

.hide {
  display: none;
}

.main-nav {
  align-items: center;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  padding-left: 25px !important;
  width: 100%;
  position: relative;
  z-index: 100;
}

.navbar-brand {
  color: $primary-color;
  cursor: pointer;
  font-family: $secondary-font;
  font-size: 50px;
  position: relative;

  &:hover {
    color: $primary-color;
  }
}

.navigation-bg-wrapper {
  background-color: black;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  width: 100%;
  z-index: -1;

  &.show {
    height: 100vh;
    opacity: 0.4;
    z-index: 95;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-top: 10px;
  position: relative;

  li {
    margin-right: 35px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  & > li > a {
    color: #121212;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.4s ease-in;
    white-space: nowrap;

    &:hover {
      color: $primary-color;
    }

    &.nav-light {
      &:hover {
        color: $primary-color !important;
      }
    }

    &.active {
      color: $primary-color;
    }
  }

  & > li:nth-child(6) > a {
    cursor: pointer;
    border-left: 2px solid #000;
    margin-left: 25px;
    padding-left: 30px;
    padding-right: 0;
  }

  & > li:last-child > a {
    background-color: $primary-color;
    color: #fff;
    margin-right: 0;
    padding: 6px 20px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #000;
      color: #fff !important;
    }
  }
}

.navigation-collapse {
  align-items: flex-start;
  background-color: rgb(43, 12, 51);
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: width 0.3s;
  text-transform: uppercase;
  white-space: nowrap;
  width: 0;
  z-index: 99;

  span {
    margin-top: 88px;
  }

  h5 {
    color: rgb(143, 143, 143);
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  & > li {
    margin-bottom: 10px;

    & > a {
      color: #fff;
      font-size: 3rem;
      letter-spacing: 5px;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
  // *********************************************************
  &.show {
    height: 100vh;
    overflow-y: scroll;
    padding: 0 50px;
    scroll-behavior: smooth;
    width: 32%;
    z-index: 99;
  }
}
/* styles for nav hamburger & it's animation */
$paths: (
  "hidden": (
    1: 36% 40%,
    2: 29 299,
    3: 35% 63%,
    4: 29 299,
    5: 61% 52%,
    6: 61% 52%,
  ),
  "show": (
    1: translateX(9px) translateY(1px) rotate(45deg),
    2: (
      "array": 225 299,
      "offset": -72px,
    ),
    3: translateX(9px) translateY(1px) rotate(-45deg),
    4: (
      "array": 225 299,
      "offset": -72px,
    ),
    5: translateX(9px) translateY(1px) rotate(-45deg),
    6: translateX(9px) translateY(1px) rotate(45deg),
  ),
);

.hamburger {
  cursor: pointer;
  z-index: 100;

  svg {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  path {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);

    @each $key, $path in map-get($paths, "hidden") {
      &:nth-child(#{$key}) {
        @include create-hidden-path($key, $path);
      }
    }
  }

  &.show {
    svg {
      transform: rotate(90deg);
    }

    path {
      stroke: white !important;

      @each $key, $path in map-get($paths, "show") {
        &:nth-child(#{$key}) {
          @include create-show-path($key, $path);
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .hide {
    display: block;
  }

  .main-nav {
    padding-left: 0 !important;

    .navbar-brand {
      font-size: 30px;
      padding-top: 20px !important;
      padding-left: 16px !important;
    }
  }

  .navigation-collapse {
    &.show {
      width: 55%;
    }
  }

  .navigation {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .main-nav {
    height: 55px;
  }

  .navbar-brand {
    padding: 8px 16px;
  }

  .navigation-collapse {
    &.show {
      width: 100%;
    }

    & > li.hide:nth-of-type(6),
    & > li.hide:nth-of-type(7) {
      flex-wrap: wrap;
      margin-top: 50px;
      margin-bottom: -20px;
      order: -1;
    }

    & > li.hide:nth-of-type(6) a {
      color: $primary-color;
      font-size: 1.2rem;
      padding-left: 20px;
    }

    & > li.hide:nth-of-type(7) a {
      background-color: $primary-color;
      font-size: 1.2rem;
      padding: 8px 20px;
    }
  }
}
