.owl-nav {
  & .owl-prev,
  & .owl-next {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    border-radius: 50% !important;
    color: white !important;
    font-size: 3rem !important;
    font-weight: 100 !important;
    height: 50px !important;
    outline: none !important;
    position: relative !important;
    width: 50px !important;
  }

  & .owl-prev {
    position: absolute !important;
    top: 40%;
    left: 0;

    span {
      position: absolute;
      top: -15px;
      left: 15px;
    }
  }

  & .owl-next {
    position: absolute !important;
    top: 40%;
    right: 0;

    span {
      position: absolute;
      top: -15px;
      left: 18px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .owl-nav {
    & .owl-prev,
    & .owl-next {
      font-size: 2.5rem !important;
      height: 40px !important;
      outline: none !important;
      width: 40px !important;
    }

    .owl-prev {
      span {
        top: -15px;
        left: 10px;
      }
    }

    .owl-next {
      span {
        top: -15px;
        left: 14px;
      }
    }
  }
}
