// *************
// gets values from its corresponding keys that are in nested maps.
// *************
@function get-deep-map($path, $key, $deep-key) {
  @return map-get(map-get($path, $key), $deep-key);
}
// *************
// mixins for setting svg attributes.
// *************
@mixin set-transform-origin($val) {
  transform-origin: $val;
}

@mixin set-stroke-dasharray($val) {
  stroke-dasharray: $val;
}

@mixin set-stroke-array-offset($dash-array, $dash-offset) {
  stroke-dasharray: $dash-array;
  stroke-dashoffset: $dash-offset;
}

@mixin set-transform($val) {
  transform: $val;
}

@mixin create-show-path($key, $path) {
  @if ($key == 5 or $key == 6 or $key % 2 != 0) {
    @include set-transform($path);
  } @else {
    @include set-stroke-array-offset(
      map-get($path, "array"),
      map-get($path, "offset")
    );
  }
}

@mixin create-hidden-path($key, $path) {
  @if ($key == 5 or $key == 6 or $key % 2 != 0) {
    @include set-transform-origin($path);
  } @else {
    @include set-stroke-dasharray($path);
  }
}
// *************
// mixin for setting background and font colors for buttons.
// *************
@mixin set-button-colors($background, $color) {
  background-color: $background;
  color: $color;
}
