<footer>
  <div class="col-md-2 footer-info">
    <a class="navbar-brand" href="#">FLIX</a>
    <div class="small footer-att">
      <p>
        FLIX Int
        <br />
        1099 Flix Pl, Flixville NJ 07100
        <br />
        800-345-FLIX
      </p>
    </div>
  </div>
  <div class="col-md-10 footer-links">
    <div>
      <a href=""><i class="fab fa-facebook-f fa-lg mr-4"></i></a>
      <a href=""><i class="fab fa-instagram fa-lg mr-4"></i></a>
      <a href=""><i class="fab fa-twitter fa-lg mr-4"></i></a>
      <a href=""><i class="fab fa-linkedin fa-lg mr-4"></i></a>
      <a href=""><i class="fab fa-youtube fa-lg mr-4"></i></a>
      <a href=""><i class="fab fa-yelp fa-lg"></i></a>
    </div>
    <ul class="text-center">
      <li>
        <a href="">Terms & Conditions</a>
      </li>
      <li>
        <a href="">Membership Terms</a>
      </li>
      <li>
        <a href="">Privacy</a>
      </li>
      <li>
        <a href="">FAQs</a>
      </li>
      <li>
        <a href="">ADA Seating Compliance</a>
      </li>
      <li>
        <a href="">ADA Compliance</a>
      </li>
      <li>
        <a href="">FLIX Sweepstakes</a>
      </li>
    </ul>
    <div class="footer-cr">
      <p class="muted">© All Rights Reserved, FLIX Theaters 2020</p>
    </div>
  </div>
</footer>
