<div class="container-layout">
  <footer class="footer flex-row align-center fluid">
    <div class="footer__info">
      <a class="navbar-brand" href="#">FLIX</a>
      <p class="footer__adr">
        FLIX Int
        <br />
        1099 Flix Pl, Flixville NJ 07100
        <br />
        800-345-FLIX
      </p>
    </div>
    <div class="footer__links text-center">
      <div class="footer__links-social">
        <a href="#"><i class="fab fa-facebook-f fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-instagram fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-twitter fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-youtube fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-yelp fa-lg"></i></a>
      </div>
      <ul class="footer__links-list flex-row justify-center">
        <li>
          <a href="#">Terms & Conditions</a>
        </li>
        <li>
          <a href="#">Membership Terms</a>
        </li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">FAQs</a>
        </li>
        <li>
          <a href="#">ADA Seating Compliance</a>
        </li>
        <li>
          <a href="#">ADA Compliance</a>
        </li>
        <li>
          <a href="#">FLIX Sweepstakes</a>
        </li>
      </ul>
      <p class="footer__copy-rht">
        &copy; All Rights Reserved, FLIX Theaters 2020
      </p>
    </div>
  </footer>
</div>
<!-- onclick="location.href='#navbar'" -->
<div class="popup flex-row justify-center" id="si-popup">
  <div class="popup__bg" id="popup__bg"></div>
  <div class="popup__form" id="popup__form">
    <a href="#" class="popup__close-btn" id="si-close-btn">&times;</a>
    <h2 class="popup__title">Log In</h2>
    <form action="#">
      <div class="inline-form">
        <input
          type="email"
          name="email"
          id="email"
          autocomplete="off"
          placeholder="Email"
          required
        />
        <label for="email">Email</label>
      </div>
      <div class="inline-form">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
        <label for="password">Password</label>
        <i class="fas fa-lock fa-lg"></i>
      </div>
      <button class="color-text color-text__btn float-right mt-xs mb-xs">
        Forgot Password?
      </button>
      <button class="btn-prim">Log In</button>
    </form>
    <p>
      Receive member-only ticket pricing, 10% off food and beverage, and
      more.&nbsp; <a href="#" class="color-text color-text__link">Sign Up</a>.
    </p>
  </div>
</div>
