// ------------------------
// imported scss files are located in the bottom of this file
#act-personal__form,
#act-address__form,
#act-login__form {
  .form-container-row {
    position: relative;
    display: flex;

    .input-field {
      width: 48%;

      &:nth-child(even) {
        margin-left: auto;
      }
    }
  }
}
// ********************
// Media Queries
@include respond-to-breakpoint(phone) {
  #act-personal__form,
  #act-address__form,
  #act-login__form {
    .form-container-row {
      flex-direction: column;

      .input-field {
        width: 100%;
      }
    }
  }
}

@import "./act-personal-form";
@import "./act-login-form";
@import "./act-cc-form";
