#act-cc__form {
  padding-top: 1rem;

  p {
    color: $muted;
  }

  .pay-sum {
    color: $primary-color;
    font-size: 4rem;
    text-transform: uppercase;
  }

  .pay-details {
    color: $primary-color;
    text-transform: uppercase;
  }

  .pay-note {
    font-size: 1.5rem;
  }

  .form-container-row {
    display: flex;
    margin-top: 1rem;
    width: 100%;

    &:nth-of-type(2) {
      justify-content: space-between;

      .input-field {
        width: 31%;
      }
    }
  }
}
// ********************
// Media Queries
@include respond-to-breakpoint(750) {
  #act-cc__form {
    margin-left: -45px;
  }
}

@include respond-to-breakpoint(phone) {
  #act-cc__form {
    width: 96vw;
  }

  .form-container-row {
    margin-top: 0;

    &:first-of-type {
      margin-top: 2rem;
    }

    &:nth-of-type(2) {
      .input-field {
        width: 100%;
      }
    }
  }
}
