.act-tos-form {
  align-self: flex-end;
  margin: 3rem 0 0 3rem;

  label {
    margin: 1.5rem 0 5rem 0;
  }

  .btn-prim {
    margin: 2rem 0 !important;
    width: 20rem;
  }
}
// **********************
// Media Queries
@include respond-to-breakpoint(tab-port) {
  .act-tos-form {
    align-self: flex-start;
    margin-left: 7rem;
  }
}

@include respond-to-breakpoint(750) {
  .act-tos-form {
    margin: 3rem 0 0 5px;
    max-width: 60rem;
  }
}
