{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": "true"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-object-assign",
    ["babel-plugin-module-resolver", {
      "alias": {
        "@src": "./src",
        "@client_utils": ".src/public/js/utils"
      }
    }]
  ]
}
