<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="#" />
    <!-- booststrap - fonts - font awesome -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="//db.onlinewebfonts.com/c/0ecca429d3d3616f3407879f72ee874a?family=Copyright+Klim+Type+Foundry"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tablesaw/3.1.2/tablesaw.css"
    />
    <script src="https://kit.fontawesome.com/e9063b30c3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesaw/3.1.2/tablesaw.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesaw/3.1.2/tablesaw-init.js"></script>
    <!-- end of support links & scripts -->
    <title>FLIX</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="landing-body mem">
      <h1 class="landing-body__title t-nav">FLIX ACCESS Membership</h1>
      <h2 class="landing-body__desc">Free 30 Day Gold Membership Trial</h2>
      <a class="btn-prim" href="/membership/gold">Join Now</a>
      <div class="landing-body__lk">
        <p>Already a Member? <span><a href="#">Log in</a></span></p>
        <p>Don't have an account? <span><a href="#">Sign up as silver</a></span></p>
      </div>
    </div>
    <div class="mem wd">
      <section class="wd-options">
        <div class="row m-0 pb-xl-4 pb-0">
          <div class="col-lg-6 wd-options__txt order-1 pr-xl-4">
            <h1>Member Only Ticket Pricing</h1>
            <p>
              At FLIX, the movies are always vary, but the experience is Exclusively Yours. 
              We value our members and are happy to extend member only ticket pricing at our location. 
              Members enjoy up to $6 off tickets and priority access to new releases.
            </p>
            <ul class="mem-options">
              <li>Enjoy up to $6 off tickets*</li>
              <li>Priority access to new releases</li>
              <li>Invitations To Early Screenings</li>
            </ul>
          </div>
          <div class="col-lg-6 wd-options__img order-2 p-0">
            <img
              src="https://marketingplatform.vivial.net/sites/default/files/inline_images/movie-theater-andalusia-al_1.jpg"
              alt="at the movies"
            />
          </div>
        </div>
        <div class="row m-0 pt-0">
          <div class="col-lg-6 wd-options__txt order-2 pl-xl-4">
            <h1>10% Off Food & Beverage</h1>
            <p>
              Members enjoy 10% off food & beverage both in-theater and at FLIX affiliated restaurants. Enjoy savings every visit, every time.
            </p>
            <ul class="mem-options">
              <li>10% off all food & beverage*</li>
              <li>Available in-theater</li>
              <li>Available at Tanzy, City Perch, Tuck Room & Tuck Tavern</li>
            </ul>
            <div class="ptr-logos">
              <div class="ptr-logos__wrapper">
                <img src="https://www.prodesigns.com/backend/img/sliders/restaurant/1523883786-01.png" alt="oin eats">
              </div>
              <div class="ptr-logos__wrapper">
                <img src="https://www.graphicsprings.com/filestorage/stencils/2c08a8fce974e940b04dad2c370c9513.png?width=500&height=500" alt="lass grail">
              </div>
              <div class="ptr-logos__wrapper">
                <img src="https://cdn.freebiesupply.com/logos/large/2x/tete-restaurant-logo-png-transparent.png" alt="tete restuarant">
              </div>
            </div>
          </div>
          <div class="col-lg-6 wd-options__img p-0 order-1">
            <img
              src="https://images.unsplash.com/photo-1464349153735-7db50ed83c84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1731&q=80"
              alt="burger sliders"
            />
          </div>
        </div>
        <div class="row m-0 pb-xl-4 pb-0">
          <div class="col-lg-6 wd-options__txt order-1 pr-xl-4">
            <h1>Birthday Rewards</h1>
            <p>
              It's your birthday, let us indulge you! During your birthday month enjoy a free Premium Plus ticket, on us.
            </p>
            <ul class="mem-options">
              <li>Premium Plus Ticket*</li>
              <li>Redeemable all month long</li>
            </ul>
          </div>
          <div class="col-lg-6 wd-options__img order-2 p-0">
            <img
              src="https://marketingplatform.vivial.net/sites/default/files/inline_images/movie-theater-andalusia-al_1.jpg"
              alt="birthday cake"
            />
          </div>
        </div>
        <div class="row m-0 pt-0">
          <div class="col-lg-6 wd-options__txt order-2 pl-xl-4">
            <h1>Member Only Events</h1>
            <p>
              Recieve invites to private dining events, food & wine tastings and special screenings only available to our members.
            </p>
            <ul class="mem-options">
              <li>Private Dining</li>
              <li>Live Events & Shows</li>
              <li>Special Screenings</li>
              <li>Food & Wine Tastings</li>
            </ul>
          </div>
          <div class="col-lg-6 wd-options__img p-0 order-1">
            <img
              src="https://images.unsplash.com/photo-1586524425669-d5c202f7ce63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1302&q=80"
              alt="drink pouring"
            />
          </div>
        </div>
      </section>
      <section class="mem wd-giftcard">
          <h2>Free 30 Day Gold Membership Trial</h2>
          <a class="btn-prim" href="/membership/gold">Join Now</a>
          <form action="#">
            <h5>Sign up for Silver Membership:</h5>
            <div class="form-inner-wrapper">
              <div class="inline-form">
                <input type="email" name='email' id='email' autocomplete="off" required>
                <label for="email">Email</label>
              </div>
              <button id='email-submit'>Submit</button>
            </div>
          </form>
      </section>
      <section class="mem-offers">
        <table class="mem-offers__table container-fluid tablesaw tablesaw-swipe" data-tablesaw-mode="swipe" data-tablesaw-minimap>
          <thead>
            <tr>
              <th scope='col' data-tablesaw-sortable-col data-tablesaw-priority="persist" class='tablesaw-swipe-cellpersist'>
                <p>Membership Yearly Benefits</p>
              </th>
              <th scope='col' data-tablesaw-sortable-col data-tablesaw-sortable-default-col>
                <p>Silver</p>
                <p class="mem-price">Complimentary</p>
              </th>
              <th scope='col' data-tablesaw-sortable-col class="active">
                <p>Gold</p>
                <p class="mem-price">$45 Annual Membership</p>
              </th>
              <th scope='col' data-tablesaw-sortable-col>
                <p>Platinum</p>
                <p class="mem-price">Earned Tier</p>
              </th>
              <th scope='col' data-tablesaw-sortable-col>
                <p>Platinum Elite</p>
                <p class="mem-price">Earned Tier</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class='tablesaw-swipe-cellpersist'>
                <p>Member Only Ticket Pricing*</p>
              </td>
              <td></td>
              <td class="active">
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
            </tr>
            <tr>
              <td class='tablesaw-swipe-cellpersist'>
                <p>10% off Food & Beverage*</p>
              </td>
              <td></td>
              <td class="active">
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
            </tr>
            <tr>
              <td class='tablesaw-swipe-cellpersist'>
                <p>Birthday Gift: 1 Free Premium Plus Ticket</p>
              </td>
              <td></td>
              <td class="active">
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
            </tr>
            <tr>
              <td class='tablesaw-swipe-cellpersist'>
                <p>Free Birthday Dessert and Champagne for Two</p>
              </td>
              <td></td>
              <td></td>
              <td>
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
            </tr>
            <tr>
              <td class='tablesaw-swipe-cellpersist'>
                <p>Buy 25 Tickets: 2 Companion Tickets Free*</p>
              </td>
              <td></td>
              <td class="active">
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
            </tr>
            <tr>
              <td class='tablesaw-swipe-cellpersist'>
                <p>Priority Ticket FLIX ACCESS for New Releases</p>
              </td>
              <td></td>
              <td class="active">
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
            </tr>
            <tr>
              <td class='tablesaw-swipe-cellpersist'>
                <p>VIP Concierge Service at Guest Services</p>
              </td>
              <td></td>
              <td class="active">
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
            </tr>
            <tr>
              <td class='tablesaw-swipe-cellpersist'>
                <p>Invitations to Special Screenings and Dining</p>
              </td>
              <td></td>
              <td class="active">
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
            </tr>
            <tr>
              <td class='tablesaw-swipe-cellpersist'>
                <p>IPIC ACCESS Newsletter & Showtimes</p>
              </td>
              <td>
                <div class="c-sel" />
              </td>
              <td class="active">
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
            </tr>
            <tr>
              <td class='tablesaw-swipe-cellpersist'>
                <p>Earn IPIC ACCESS Points</p>
              </td>
              <td>
                <div class="c-sel" />
              </td>
              <td class="active">
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
              <td>
                <div class="c-sel" />
              </td>
            </tr>
            <tr>
              <td class='tablesaw-swipe-cellpersist'>
                <p>FLIX Reward Points Earned</p>
              </td>
              <td class="text-center text-secondary">
                <p>1 Point / $1 Spent</p>
              </td>
              <td class="active text-center text-secondary">
                <p>1 Point / $1 Spent</p>
              </td>
              <td class="text-center text-secondary">
                <p>1 Point / $1 Spent</p>
              </td>
              <td class="text-center text-secondary">
                <p>1 Point / $1 Spent</p>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="mem-desc">
        <p>
          Discount varies based on day of week and location. Pricing is per ticket per visit. 
          Subject to change without notice. Other restrictions may apply.
        </p>
        <p>
          In theater or at any IPIC affiliated restaurant (Tanzy, City Perch, Tuck Room and Tuck Tavern). 
          Alcohol not eligible for discount in TX & IL.
        </p>
        <p>
          Only 5 tickets / day valid towards 25 Tickets Reward and Membership Level Upgrade.
        </p>
        <p class="title">Redeeming Points</p>
        <p>
          You must have earned a minimum of 500 IPIC ACCESS Points before you can begin redeeming points.
        </p>
        <p>
          IPIC ACCESS Points are redeemable at a value of 500 for $5 in credit towards qualifying purchases.
        </p>
        <p>
          On qualifying purchases; does not include alcoholic beverages, tax, gratuities, gift card or membership purchases.
        </p>
      </section>
    </div>
    <%- include('partials/footer.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  </body>
</html>
