.dashboard {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  background-color: rgb(243, 243, 243);
  /* border: 2px solid steelblue; */
}

.db-nav {
  height: 100%;
  background-color: var(--primary-color);
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.db-nav__item {
  width: 100%;
  height: 100px;
  padding: 16px;
  color: #fff;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.db-nav__item:first-child {
  animation: enter-in 1.5s forwards;
}

.db-nav__item:nth-child(2) {
  animation: enter-in 1.5s 0.25s forwards;
}

.db-nav__item:nth-child(3) {
  animation: enter-in 1.5s 0.5s forwards;
}

.db-nav__item:nth-child(4) {
  animation: enter-in 1.5s 0.75s forwards;
}

.db-nav__item:nth-child(5) {
  animation: enter-in 1.5s 1s forwards;
}

.db-nav__item:last-child {
  animation: enter-in 1.5s 1.25s forwards;
}

@keyframes enter-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.db-nav__item:hover {
  background-color: #cc5249;
}

.db-nav__item:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #502825;
}

.db-nav__active {
  background-color: #cc5249;
}

.db-nav__active::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #502825;
}

.db-nav__item a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.db-nav__item i {
  display: block;
  margin-bottom: 8px;
}

.edit-icon-wrapper .fas.fa-pencil-alt {
  position: absolute;
  top: 35px;
  left: 90px;
}

.db-view {
  height: 100%;
  flex: 3;
  padding: 20px 20px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.img-wrapper {
  width: 360px;
  height: 580px;
  border-radius: 8px;
  background-color: #c2c2c2;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 30px;
}

.img-wrapper img {
  object-fit: cover;
}

.db-view form {
  position: relative;
  width: 65%;
  min-height: 100%;
  min-width: 408px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* form is default when result is selected this class is removed */
.db-view form.empty {
  width: 100%;
  height: 575px;
}
/* hide and show elements */
.hide {
  display: none;
}

input.form-control {
  width: 400px;
  padding-left: 32px;
  margin-right: 16px;
  position: relative;
}

.form-group {
  position: relative;
}

form .input-inline {
  width: max-content;
  display: flex;
}

form .input-inline:nth-child(2) {
  position: relative;
  width: 65%;
  min-width: 65%;
}

.fas.fa-search {
  position: absolute;
  top: 45px;
  left: 10px;
}

.form-control:focus {
  box-shadow: none;
}

#multiTheatreRoomSelect {
  width: 100px;
}

#multiTheatreRoomSelect option {
  padding: 3px;
}

.srh-results {
  width: 100%;
  height: 80%;
  margin-top: 18px;
  list-style: none;
  font-size: 1rem;
}

.srh-results li {
  width: 100%;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.srh-results li > span {
  float: right;
  color: #121212;
}

.srh-results li > span:last-child,
.srh-results li > span:nth-child(6) {
  margin-bottom: 10px;
}

.btn-add {
  width: 65%;
  height: 10%;
  margin-top: auto;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.btn-add:hover {
  background-color: black;
}

.search_sug {
  display: none;
  width: 400px;
  height: 200px;
  margin-top: 3px;
  overflow: scroll;
  position: absolute;
  z-index: 1;
}

.search_sug .list-group-item.na {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_sug .list-group-item {
  height: 80px;
  padding: 10px;
  background-color: #f8f9fa;
  color: #121212;
  display: flex;
  cursor: pointer;
}

.search_sug .list-group-item.active,
.search_sug .list-group-item:hover {
  border: none;
  background-color: #121212ec;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.search_sug .list-group-item img {
  margin-right: 12px;
}

.search_sug .list-group-item h6 {
  color: #121212ab;
  margin: 0;
}

.search_sug .list-group-item.active h6,
.search_sug .list-group-item:hover h6 {
  color: rgba(255, 255, 255, 0.5);
}

.search_sug .list-group-item .title {
  color: #121212;
}

.search_sug .list-group-item.active .title,
.search_sug .list-group-item:hover .title {
  color: #fff;
}

@media only screen and (max-width: 1000px) and (min-width: 520px) {
  .db-nav {
    display: none;
  }

  .dashboard {
    height: 100vh;
    padding: 10px;
  }

  input.form-control {
    width: 400px;
    padding-left: 32px;
    margin-right: 16px;
    position: relative;
  }

  .form-group {
    position: relative;
  }

  form .input-inline {
    width: 35%;
    display: flex;
    margin-bottom: auto;
  }

  .db-view {
    width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .db-view form {
    width: 100%;
    min-width: 100%;
    justify-content: space-evenly;
  }

  input.form-control {
    width: 100%;
  }

  .img-wrapper {
    display: block;
    width: 60%;
    height: 45%;
    margin: 0;
    position: absolute;
    top: 0px;
    right: 0;
  }

  .input-inline:first-child {
    flex-direction: column;
  }

  form .input-inline:nth-child(2) {
    position: relative;
    align-self: flex-end;
    padding-top: 50px;
    margin-top: 180px;
    width: 100%;
  }

  .srh-results {
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
  }

  .srh-results li > span {
    width: 100%;
    margin: 0;
  }

  .btn-add {
    margin-bottom: 120px;
    align-self: center;
  }
}

@media only screen and (max-width: 500px) {
  .db-nav {
    display: none;
  }

  .dashboard {
    padding: 10px;
  }

  input.form-control {
    width: 400px;
    padding-left: 32px;
    margin-right: 16px;
    position: relative;
  }

  .form-group {
    position: relative;
  }

  form .input-inline {
    width: max-content;
    display: flex;
  }

  .db-view {
    width: 100%;
    padding: 0;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  .db-view form {
    width: 100%;
    min-width: 100%;
    justify-content: space-evenly;
  }

  input.form-control {
    width: 100%;
  }

  .img-wrapper {
    display: block;
    width: 60%;
    height: 30%;
    margin: 0;
    position: absolute;
    top: 90px;
    right: 0;
  }

  .input-inline:first-child {
    flex-direction: column;
  }

  form .input-inline:nth-child(2) {
    position: relative;
    align-self: flex-end;
    padding-top: 50px;
    width: 100%;
  }

  .srh-results {
    width: 100%;
    font-size: 1rem;
  }

  .srh-results li > span {
    /* width: 100%; */
    margin: 0;
  }

  .btn-add {
    align-self: center;
  }
}

.loader {
  color: #ff255a;
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 38%;
  left: 42%;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 100;
  display: none;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
/* ********************************************************** */
.success-message {
  text-align: center;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.success-message__icon {
  max-width: 75px;
}

.success-message__title {
  color: #3dc480;
  transform: translateY(25px);
  opacity: 0;
  transition: all 350ms ease;
}

.dashboard.active .success-message__title {
  transform: translateY(0);
  opacity: 1;
}

.success-message__content {
  color: #b8babb;
  transform: translateY(25px);
  opacity: 0;
  transition: all 350ms ease;
  transition-delay: 50ms;
}

.dashboard.active .success-message__content {
  transform: translateY(0);
  opacity: 1;
}

.icon-checkmark path {
  transition: stroke-dashoffset 350ms ease;
  transition-delay: 100ms;
}

.icon-checkmark circle {
  fill: #3dc480;
  transform-origin: 50% 50%;
  transform: scale(0);
  transition: transform 350ms cubic-bezier(0.22, 0.96, 0.38, 0.98);
}

.dashboard.active circle {
  transform: scale(1);
}
