:root {
  --primary-color: #f1675d;
}

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  height: max-content;
  position: relative;
  font-size: 1rem;
}

section {
  margin-bottom: 30px;
}

/* 404 page */
.four-o-four {
  width: 100%;
  height: 100%;
  background-color: black;
}

.four-o-four img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* 404 page */

.btn-outline {
  width: max-content;
  padding: 10px 80px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.btn-outline:hover {
  background-color: #000;
  border: 1px solid #000;
}

.btn-outline-dark {
  width: max-content;
  padding: 10px 80px;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  font-size: 1.3rem;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.btn-outline-dark:hover {
  background-color: #000;
  border: 1px solid #000;
}

.landing-body > .btn-outline {
  margin: 30px 0;
}

.active a {
  color: var(--primary-color);
}

.landing {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: absolute;
  z-index: 0;
}

.landing img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  object-fit: cover;
}

.landing-body {
  width: 100vw;
  height: 95vh;
  padding: 120px 30px 80px 30px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.landing-body__title {
  font-size: 4rem;
  margin: 0;
}

.landing-body__desc {
  width: 50%;
  font-size: 1rem;
  line-height: 1.5;
}

.main {
  width: 100%;
  height: max-content;
  padding: 30px 37px 0 37px;
}

.t-nav {
  width: 0;
  border-left: 4px solid black;
  border-right: 4px solid black;
  padding-left: 24px;
  margin-bottom: 30px;
  white-space: nowrap;
  line-height: 1;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.t-nav h1 {
  font-weight: 400;
  font-size: 3rem;
}

.t-nav ul {
  width: 100%;
  padding-left: 25px;
  display: flex;
  list-style-type: none;
}

.t-nav li {
  padding-right: 40px;
  color: rgb(182, 179, 179);
  transition: color 0.4s ease-in;
}

.t-nav li:hover {
  color: black;
}

.t-nav li > a {
  font-size: 50px;
  font-weight: 300;
  cursor: pointer;
}

.main .showtimes {
  height: max-content;
}

.main .upcoming {
  height: max-content;
  display: flex;
}

/* footer */

footer {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 30px;
}

footer a {
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  color: var(--primary-color);
}

.footer-info .navbar-brand {
  color: var(--primary-color);
}

.footer-att {
  width: max-content;
  margin-top: 20px;
  line-height: 8px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 4px solid black;
  border-right: 4px solid black;
  width: max-content;
  height: max-content;
  padding: 0;
  margin-right: 0;
}

.footer-links a {
  color: #000;
}

.footer-links ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.footer-links li a {
  font-size: 1.2rem;
  font-weight: 400;
  border-right: 2px solid black;
  text-decoration: none;
  padding: 0 8px;
}

.footer-cr {
  margin-top: 8px;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: rgb(148, 148, 148);
}

.muted {
  margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
  .navbar-brand {
    font-size: 30px;
  }

  footer {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 24px;
  }

  footer a {
    transition: all 0.3s ease-in-out;
  }

  footer a:hover {
    color: var(--primary-color);
  }

  .footer-att {
    margin-top: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    line-height: 8px;
    align-self: flex-start;
  }

  .footer-links {
    border-right: none;
  }

  .footer-links ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
  }

  .footer-links li a {
    font-size: 1.05rem;
  }
}

@media only screen and (max-width: 500px) {
  section {
    margin-bottom: 8px;
  }

  .landing-body {
    width: 100vw;
    height: 95vh;
    padding: 120px 16px;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .landing-body__title {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .landing-body__desc {
    width: 100%;
    font-size: 1rem;
    line-height: 24px;
  }

  .btn-outline {
    width: 100%;

    padding: 10px 80px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .t-nav .active {
    padding-bottom: 5px;
    border-bottom: 4px solid var(--primary-color);
  }

  .main {
    padding: 0;
  }

  .t-nav {
    width: 100%;
    margin: 16px auto 5px auto;
  }

  .t-nav:first-of-type {
    border: none;
  }

  .t-nav:nth-of-type(2) {
    padding: 0 17px;
  }

  .t-nav ul {
    padding: 0;
    justify-content: space-evenly;
  }

  .t-nav li {
    width: 33.3%;
    padding-right: 0;
    text-align: center;
  }

  .t-nav li > a,
  .t-nav h1 {
    font-size: 30px;
    font-weight: 400;
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }

  footer a {
    transition: all 0.3s ease-in-out;
  }

  footer a:hover {
    color: var(--primary-color);
  }

  .footer-att {
    margin-top: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    line-height: 8px;
    align-self: flex-start;
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .col-sm-12 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    border: none;
    border-top: 2px solid black;
    width: 100%;
    padding: 10px 0;
  }

  .footer-links ul {
    width: 90%;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  .footer-links li a {
    font-size: 0.9rem;
  }
}
