.mobi-cart--checkout {
  .mobi-cart__total {
    display: block;
    margin: 0.5rem 0 0.5rem 0;

    &:last-of-type {
      float: none;
    }
  }
}
// ********************
// Media Queries
@include respond-to-breakpoint(1024) {
  .mobi-cart--checkout {
    visibility: visible !important;
  }
}
