.mobi-cart--checkout {
  @include respond-to-breakpoint(1024) {
    visibility: visible;
  }

  .mobi-cart__total {
    display: block;
    margin: 0.5rem 0 0.5rem 0;

    &:last-of-type {
      float: none;
    }
  }
}
