<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- *************** -->
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/e9063b30c3.js"></script>
    <!-- *************** -->
    <!-- facvicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicons/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/assets/images/favicons/site.webmanifest"
    />
    <title>FLIX Theater | Dine in theater</title>
    <!-- *************** -->
    <!-- materializecss -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <header class="event-header">
      <div class="container-layout container-layout--limiter mt-xs">
        <header class="t-nav">
          <h2>Events</h2>
        </header>
        <div class="flex-row description-text description-text--events">
          <p>
            Let us create an unforgettable event for you. Orchestrate your next
            gathering at IPIC or at The Tuck Room and enjoy ultimate peace of
            mind. We do all the planning so you can immerse yourself and your
            guests in a unique experience from the moment the journey begins
            until the final farewell. Plush auditoriums featuring
            state-of-the-art technology and dine in the dark service, along with
            our intimate lounge spaces are ideal settings for your next event.
            Our restaurants and theaters are the perfect place for that special
            social celebration, corporate gathering, birthday party, private
            screening or VIP experience. We have a dedicated team that will
            tailor an event package inclusive of chef driven culinary and
            mixology offerings for you.
          </p>
          <div class="contact__box">
            <h2 class="contact__box-title">Joseph Pathway</h2>
            <p class="contact__box-role">Sales Manager FLIX Theaters</p>
            <div class="contact__box-info fluid">
              <div class="info-item">
                <span class="info-item__type">contact</span>
                <a href="tel:+8003454200">800-345-4200</a>
              </div>
              <div class="info-item">
                <span class="info-item__type">Directions</span>
                <a
                  href="https://www.google.com/maps/place/Statue+of+Liberty+National+Monument/@40.6892494,-74.0466891,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25090129c363d:0x40c6a5770d25022b!8m2!3d40.6892494!4d-74.0445004"
                  >Map
                </a>
              </div>
              <div class="info-item">
                <span class="info-item__type">email</span>
                <a href="mailto:jdoe@flixsales.com"
                  >jay.pathway@flixsales.com</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section-layout section-layout--events-plan bg-smoked">
      <div class="flex-row container-layout-padded">
        <div class="section-content section-content--event-plan">
          <h2 class="section-content__title">Plan an Event with Us</h2>
          <p class="section-content__body">
            Tell us your vision for your next gathering and enjoy peace of mind
            as an IPIC Event Planner sees to every detail for your private or
            corporate event. To simplify planning, we’ve curated a selection of
            our favorite event packages that can be tailored to your
            preferences.
            <p class="section-content__body-secondary mt-sm">
              For bookings for more than one location, please contact:</br>
              <strong>Jimi Hendrix, National Director of Sales</strong>
            </p>
          </p>
          <div class="contact__box-info">
            <div class="info-item">
              <span class="info-item__type">Direct</span>
              <a href="tel:+8003454200">800-345-4200</a>
            </div>
            <div class="info-item">
              <span class="info-item__type">Mobile</span>
              <a href="tel:+5516593329">551-659-3329</a>
            </div>
            <div class="info-item">
              <span class="info-item__type">Email</span>
              <a href="mailto:jHrix@flixsales.com"
                >jimi.hendrix@flixsales.com</a
              >
            </div>
          </div>
        </div>
        <div class="section-content__img section-content__img--event-plan">
          <img
            src="/assets/images/jpg/event-party.jpg"
            alt="party events"
          />
          <div class="section-content__btn">
            <button class="btn-prim">BOOK NOW</button>
            <button class="btn-outline-dark">View Event Packet</button>
          </div>
        </div>
      </div>
      <div class="flex-row container-layout-padded">
        <div class="section-content__img section-content__img--tours">
          <img
            src="/assets/images/jpg/event-tours.jpg"
            alt="event tours"
          />
        </div>
        <div class="section-content section-content--event-plan">
          <h2 class="section-content__title">Take a Tour</h2>
          <p class="section-content__body">
            Drinking and dining den. We feature craveable American fare and
            offer a lively and whimsical atmosphere. The dining room is wrapped
            around an energetic bar, flowing local and favorite brews from our
            taps.
          </p>
        </div>
      </div>
    </section>
    <%- include('partials/footer.ejs') %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
