// ******************
// ACCOUNT TERMS AND SERVICE FORM
.act-tos-form {
  align-self: flex-end;
  margin: 8rem 0 0 6rem;
  max-width: 53.5rem;

  @include respond-to-breakpoint(tab-port) {
    align-self: flex-start;
    margin-left: 7rem;
  }

  @include respond-to-breakpoint(750) {
    margin: 3rem 0 0 5px;
    max-width: 60rem;
  }

  .btn-prim {
    margin: 2rem 0 3rem 0;
    text-transform: capitalize;
    width: 20rem;

    @include respond-to-breakpoint(750) {
      width: 100%;
    }
  }
}
