* {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $primary-color;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  position: relative;

  > .container-layout:first-child {
    padding: 0;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

button {
  font-size: $default-font-size;
}

.active a {
  color: $primary-color;
}

.bg-smoked {
  background-color: $section-bg-color;
}

.muted {
  color: $muted;
}

.text-red {
  color: $primary-color;
}
