.mycart {
  font: 400 2.1rem $primary-font;
  float: right;
  width: 25%;

  @include respond-to-breakpoint(1024) {
    display: none;
  }

  &__title {
    letter-spacing: 1px;
  }

  &__list {
    color: #151515a2;
    letter-spacing: 1px;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    height: max-content;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(rgb(218, 218, 218), 0.4);
    }

    .seat-wrapper {
      div {
        margin-bottom: 0;
      }
    }

    .seat-id {
      margin-left: 0;
    }

    .seat-price {
      color: black;
      font-size: 2.4rem;
      font-weight: bold;
      margin-left: auto;
    }

    .btn-remove-item {
      cursor: pointer;
      margin-left: 15px;
      padding-bottom: 5px;
      font-size: 4rem;
    }
  }

  &__timer {
    font: 400 1.4rem $secondary-font;
    margin-top: 2rem;

    span {
      color: #121212;
      font-size: 2rem;
    }
  }
}

.mycart--checkout {
  background-color: #fff;
  box-shadow: 0px 5px 9px 3px rgba(0, 0, 0, 0.1);
  margin-right: 2.5rem;
  padding: 2rem;
  position: sticky;
  top: 4rem;
  width: 92%;

  .mycart__title {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .mycart__item {
    color: black;
    font-family: $secondary-font;
    font-size: 1.7rem;
    justify-content: space-between;
    letter-spacing: 0;
    width: 100%;

    &:not(:last-of-type) {
      border-bottom: none;
      margin-bottom: 1rem;
    }

    .seat-id {
      position: absolute;
      right: 20rem;
    }

    .seat-price {
      font-size: 2rem;
      font-weight: normal;
      margin-left: 0;
    }
  }

  .mycart_total {
    background-color: $section-bg-color;
    margin: 3rem -2rem 0 -2rem;
    padding: 3rem 0;
  }

  .mycart_btns {
    display: flex;
  }
}

.mobi-cart {
  background-color: $primary-color;
  color: #fff;
  justify-content: space-between;
  padding: 1rem 1.6rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  visibility: hidden;
  z-index: 100;

  @include respond-to-breakpoint(1024) {
    visibility: visible;
  }

  &__total {
    h5 {
      font: 500 2rem $secondary-font;
    }

    p {
      margin-bottom: 2px;
    }
  }

  a {
    color: #fff;
    font: 400 3rem $primary-font;
  }
}
