.switch {
  // display: inline-block;
  display: flex;
  height: 3.4rem;
  position: relative;
  min-width: 6.5rem;

  input {
    height: 0;
    opacity: 0;
    width: 0;

    &:checked + .slider {
      background-color: $primary-color;

      &.round {
        border-color: $primary-color;
      }
    }

    &:checked + .slider:before {
      transform: translateX(26px);
    }
  }

  .slider {
    background-color: rgba($muted-light, 0.1);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;

    &:before {
      background-color: white;
      content: "";
      height: 2.2rem;
      position: absolute;
      left: 4px;
      bottom: 2px;
      transition: 0.4s;
      width: 2.2rem;
    }

    &.round {
      border: 2px solid rgba($muted-light, 0.4);
      border-radius: 34px;

      &:before {
        border: 2px solid rgba($muted-light, 0.4);
        border-radius: 50%;
      }
    }
  }
}
