// ************************************!!
// SUPER IMPORTANT ADD ICON THAT REPLACES SIGN UP AND SIGN IN BUTTONS ON NAV WITH A USER ICON
// ************************************!!
#navbar {
  position: relative;

  & > nav {
    height: 8.4rem;
    line-height: 1;

    &.main-nav {
      background-color: transparent;
      box-shadow: none;
      color: #121212;
      font-family: $primary-font;
      justify-content: space-between;
      padding: 0.5rem 0;
      z-index: 100;

      * > a {
        text-transform: uppercase;
      }
    }

    &.nav-trans {
      background-color: transparent;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;

      @include respond-to-breakpoint(tab-land) {
        background: linear-gradient(
          to bottom,
          rgba(#000, 0.5),
          rgba(#000, 0.01)
        ) !important;
        position: fixed;
      }

      .navbar-brand {
        color: currentColor;

        &:hover {
          color: currentColor;
        }
      }
    }

    .navbar-brand {
      align-self: flex-start;
      color: $primary-color;
      cursor: pointer;
      letter-spacing: -3px;
      font: bold 5rem $secondary-font;

      @include respond-to-breakpoint(tab-land) {
        transform: scale(0.7);
      }

      &:hover {
        color: $primary-color;
      }

      span {
        display: block;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 3px;
        margin-top: -1rem;
      }
    }

    label.hamburger {
      color: currentColor;
      cursor: pointer;
      margin: 0 0 0 1.5rem;
      z-index: 100;

      @include respond-to-breakpoint(tab-land) {
        margin: 0.5rem 1rem 0 0;
      }

      svg {
        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      path {
        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
        stroke: currentColor;

        @each $key, $path in map-get($paths, "hidden") {
          &:nth-child(#{$key}) {
            @include create-hidden-path($key, $path);
          }
        }
      }
    }

    .navigation__checkbox {
      display: none;

      &:checked {
        + .hamburger {
          svg {
            transform: rotate(90deg);
          }

          path {
            stroke: #fff;

            @each $key, $path in map-get($paths, "show") {
              &:nth-child(#{$key}) {
                @include create-show-path($key, $path);
              }
            }
          }
        }

        ~ .navigation__bg-wrapper {
          height: 100vh;
          opacity: 0.5;
          z-index: 95;
        }

        ~ .navigation__collapse {
          transform: translateX(0);
        }
      }
    }
    // -------------------------
    // default top navigation
    .navigation {
      flex: 1 1 auto;
      height: 3rem;
      justify-content: space-between;
      margin-left: auto;
      max-width: 85rem;
      min-width: 50rem;
      position: relative;

      @include respond-to-breakpoint(tab-land) {
        display: none;
      }

      &::after {
        background-color: currentColor;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        right: 22rem;
        width: 2px;
      }
      // -------------------------
      // navigation user logged in
      &.navigation-usr {
        max-width: 65rem;

        &::after {
          right: 8rem;
        }
      }

      &__link {
        color: currentColor;
        font-size: 2.4rem;
        letter-spacing: 2px;
        line-height: 1;
        transition: color 0.2s ease-in;

        &:hover,
        &.active {
          background-color: transparent;
          color: $primary-color;
        }

        i {
          line-height: 0;
          height: 100%;
        }
      }

      &__item {
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: max-content;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        &:nth-child(6) {
          margin: 0 0.8rem 0 2.5rem;
        }

        &.navigation__item--btn {
          color: #fff;

          .btn-prim {
            color: currentColor;
            transition: 0.4s;
            width: 10rem;

            &:hover,
            &.active {
              background-color: #000;
            }
          }
        }
      }
    }
    // -------------------------
    // navigation black overlay
    .navigation__bg-wrapper {
      background-color: black;
      height: 0;
      position: fixed;
      top: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      will-change: opacity;
      z-index: -1;
    }
    // -------------------------
    // navigation when collapsed
    .navigation__collapse {
      align-items: flex-start;
      background-color: $secondary-section-bg-color;
      color: #fff;
      height: 100vh;
      min-width: 36rem;
      overflow: auto;
      line-height: 1.5;
      padding: 8.8rem 0 0 6rem;
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(100%);
      transition: transform 0.3s;
      white-space: nowrap;
      width: 32vw;
      z-index: 99;
      -webkit-overflow-scrolling: touch;

      @include respond-to-breakpoint(tab-land) {
        padding-left: 5.5rem;
      }

      @include respond-to-breakpoint(tab-port) {
        min-width: 45rem;
      }

      @include respond-to-breakpoint(phone) {
        min-width: auto;
        width: 100%;
      }

      span {
        color: $muted;
        font-size: 3rem;
      }

      .navigation__item {
        flex-shrink: 0;
        margin: 0 0 0.8rem 0;

        .navigation__link {
          font-size: 4.8rem;
          letter-spacing: 0.5rem;
          line-height: 1.6;
          transition: color 0.3s ease-in-out;

          &:hover {
            background-color: transparent;
            color: $primary-color;
          }
        }
      }

      .navigation__toggle {
        display: none;

        @include respond-to-breakpoint(tab-land) {
          display: flex;
          align-items: flex-start;
        }
      }
    }

    .navigation__store-logos {
      margin: 2rem 0;
    }

    .navigation__footer {
      color: #fff;

      .footer__adr {
        font: 400 1.4rem $secondary-font;

        p:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }

    .navigation__social {
      display: flex;
      margin-top: 3rem;

      a {
        color: #fff;
        font-size: 3rem;

        &:first-of-type {
          padding-left: 0;
        }

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }

    .navigation__acct {
      margin-bottom: 4.5rem;
      margin-top: 0.5rem;
      width: 100%;

      .navigation__link {
        line-height: 1;
        letter-spacing: 0;
        padding: 7px 3rem;

        &:not(.btn-prim) {
          padding-left: 0;
        }
      }
    }
  }
}

#navbar:target ~ .si-modal {
  visibility: hidden !important;

  .si-modal__form {
    animation: slide-out-top 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335) both,
      fade-out 0.4s ease-in-out;
  }
}
