<div class="container-layout">
  <footer class="footer flex-row align-center fluid">
    <div class="footer__info">
      <a class="navbar-brand" href="#">FLIX</a>
      <p class="footer__adr">
        FLIX Int
        <br />
        1099 Flix Pl, Flixville NJ 07100
        <br />
        800-345-FLIX
      </p>
    </div>
    <div class="footer__links text-center">
      <div class="footer__links-social">
        <a href="#"><i class="fab fa-facebook-f fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-instagram fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-twitter fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-youtube fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-yelp fa-lg"></i></a>
      </div>
      <ul class="footer__links-list flex-row justify-center">
        <li>
          <a href="#">Terms & Conditions</a>
        </li>
        <li>
          <a href="#">Membership Terms</a>
        </li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">FAQs</a>
        </li>
        <li>
          <a href="#">ADA Seating Compliance</a>
        </li>
        <li>
          <a href="#">ADA Compliance</a>
        </li>
        <li>
          <a href="#">FLIX Sweepstakes</a>
        </li>
      </ul>
      <p class="footer__copy-rht">
        &copy; All Rights Reserved, FLIX Theaters 2020
      </p>
    </div>
  </footer>
</div>
<!-- -------------------------- -->
<!-- login modal -->
<div class="modal modal-login" id="modal-login">
  <button class="btn-worded-only modal-close">&times;</button>
  <div class="modal-content">
    <h2>Log In</h2>
    <form id="login-form">
      <div class="input-field">
        <input 
          type="email"
          id="email"
          name="email"
          class="validate"
          autocomplete="email"
          required
        />
        <label for="email">Email</label>
      </div>
      <div class="input-field">
        <input 
          type="password"
          id="password"
          name="password"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="password">Password</label>
        <div><i class="fas fa-lock fa-lg"></i></div>
      </div>
      <button class="color-text color-text__btn float-right">
        Forgot Password?
      </button>
      <button type="submit" class="btn-prim btn-block">Log In</button>
    </form>
    <p>
      Receive member-only ticket pricing, 10% off food and beverage, and
      more.&nbsp; <a href="#" class="color-text color-text__link">Sign Up</a>.
    </p>
  </div>
</div>
<!-- -------------------------- -->
<!-- confirmation message modal -->
<% if(successMsg && successMsg.length > 0) { %>
  <div class="modal modal-msg" id="modal-msg">
    <button class="btn-worded-only modal-close">&times;</button>
    <div class="modal-content">
      <h2>Confirmation</h2>
      <p><%= successMsg %></p>
    </div>
  </div>
<% } %>