.success-message {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 100;

  &__icon {
    max-width: 75px;
  }

  &__title {
    color: #3dc480;
    opacity: 0;
    transform: translateY(25px);
    transition: all 350ms ease;
  }

  &__content {
    color: #b8babb;
    transform: translateY(25px);
    opacity: 0;
    transition: all 350ms ease;
    transition-delay: 50ms;
  }
}

.dashboard.active {
  circle {
    transform: scale(1);
  }

  .success-message {
    &__title {
      transform: translateY(0);
      opacity: 1;
    }

    &__content {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.icon-checkmark {
  path {
    transition: stroke-dashoffset 350ms ease;
    transition-delay: 100ms;
  }

  circle {
    fill: #3dc480;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform 350ms cubic-bezier(0.22, 0.96, 0.38, 0.98);
  }
}
