.landing-body {
  &__lk {
    display: flex;
    margin-top: 55px;
    z-index: 1;

    p:first-child {
      margin-right: 25px;
    }

    a {
      color: $primary-color;
      font-family: $secondary-font;
      margin-left: 4px;
    }
  }

  &.mem {
    background-image: url("https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80");
    height: 500px;
    justify-content: space-between;
    padding: 120px 30px 100px 30px;
    z-index: 0;

    &::after {
      backdrop-filter: grayscale(70%);
      content: "";
      width: 100%;
      height: 100%;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
    }

    .btn-prim {
      cursor: pointer;
      margin-top: 16px;
      padding: 10px 0;
      text-decoration: none;
      width: 300px;
      z-index: 1;

      &:hover {
        color: #fff;
      }
    }

    .btn-prim,
    .landing-body__desc,
    .landing-body__lk {
      margin-left: 25px;
    }

    .landing-body__title {
      font-size: 4rem;
      padding-bottom: 85px;

      &::before,
      &::after {
        background-color: #fff;
      }
    }

    .landing-body__desc {
      font-size: 2.5rem;
      letter-spacing: 3px;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}

.mem.wd {
  width: 100%;

  .wd-options {
    padding: 50px 40px;
    width: 100%;

    .row {
      justify-content: space-between;
      margin-bottom: 50px !important;
    }

    .wd-options__txt {
      margin-top: 30px;
      max-width: 48%;

      h1 {
        margin-bottom: 15px;
      }

      &.order-2 {
        margin-top: 0;
      }
    }

    &__img {
      align-self: center;
      height: 350px;
      max-width: 48%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .mem-options {
    margin-left: 14px;
    margin-bottom: 0;

    li {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }

  .ptr-logos {
    align-items: flex-start;
    display: flex;
    filter: grayscale(60%);
    height: 150px;
    justify-content: space-evenly;
    opacity: 0.5;
    width: 100%;

    &__wrapper {
      height: 100%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .wd-giftcard {
    align-items: center;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    padding: 0;

    h2 {
      font-size: 4rem;
      letter-spacing: 7px;
      text-align: center;
      text-transform: uppercase;
    }

    .btn-prim {
      font-size: 2.2rem;
      line-height: 1.5;
      text-decoration: none;
      width: 300px;

      &:hover {
        background-color: #fff;
        color: rgb(22, 1, 22);
      }
    }

    form {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
      text-align: center;
      width: 370px;

      h5 {
        font-size: 1.1rem;
      }

      .form-inner-wrapper {
        display: flex;
        width: 370px;

        #email-submit {
          align-self: flex-end;
          background-color: transparent;
          border: none;
          color: rgba(255, 255, 255, 0.5);
          cursor: auto;
          font-family: $primary-font;
          font-size: 2.5rem;
          line-height: 1;
          margin-left: 20px;
          padding-top: 15px;
        }

        .inline-form {
          margin-top: 60px;
          position: relative;
          width: 100%;

          i {
            position: absolute;
            right: 0;
          }

          label {
            bottom: -3px;
            color: #fff;
            font-size: 1.1rem;
            position: absolute;
            left: 0;
            transition: 0.4s ease-in-out;
            width: max-content;
          }

          input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            color: #fff;
            font-size: 1.1rem;
            width: 285px;

            &:focus {
              outline: none;

              & + label {
                color: #fff;
                font-size: 0.8rem;
                transform: translateY(-26px);
              }
            }
          }

          &:first-child {
            margin-top: 60px;
          }
        }
      }
    }
  }

  .mem-offers {
    height: max-content;
    margin-bottom: 0;
    width: 100%;

    &__table {
      width: 95%;

      thead {
        tr {
          // general table head setup
          th {
            font-family: $primary-font;
            font-size: 3.2rem;

            p {
              font-weight: 300;
              margin-bottom: 0;
              text-align: center;

              &:first-child {
                height: 65px;
              }
            }
            // first column of table
            &:first-child {
              min-width: 440px;

              p {
                text-align: start;
              }
            }
            // secondary header text
            .mem-price {
              color: $muted;
              font-size: 1.2rem;
              font-weight: 400;
              text-transform: uppercase;
            }
          }
        }
      }

      tr {
        // styles for non-header rows [text + circles]
        td {
          min-width: 240px;
          p {
            font-size: 1.1rem;
            margin-top: 15px;
          }

          .c-sel {
            background-color: #121212;
            border-radius: 50%;
            height: 15px;
            margin: 0 auto;
            width: 15px;
          }
        }

        td,
        th {
          position: relative;

          &:first-child {
            padding-left: 20px;
          }
          // set background color for the first and last column
          &:nth-child(odd) {
            background-color: $section-background-color;
          }
          // box shadow style for the gold column
          &:nth-child(3) {
            box-shadow: -1px 0 20px -2px rgba(0, 0, 0, 0.15);
            // adds a white box in between to give shadow appear only on the sides of the column
            &::after {
              background-color: $section-background-color;
              content: "";
              height: 48px;
              position: absolute;
              left: 0;
              width: 100%;
              z-index: 1;
            }
          }
          // color for misc in the table i.e. active, circle, secondary header texts
          &.active {
            color: $primary-color;

            .c-sel {
              background-color: $primary-color;
            }

            .mem-price {
              color: $primary-color;
            }
          }
        }
      }
    }
    // tablesaw controls
    .tablesaw-bar {
      margin-right: 12px;
    }
    // removes ugly border that is added by default via tablesaw library
    .tablesaw-swipe .tablesaw-swipe-cellpersist {
      border-right: none;
    }
  }
  // bottom table(membership) description section
  .mem-desc {
    background-color: rgb(230, 230, 230);
    height: 475px;
    padding: 25px 35px;
    position: relative;
    width: 100%;
    z-index: 3;

    p {
      font-size: 0.9rem;
      margin: 30px 0;

      &.title {
        font-family: $primary-font;
        font-size: 1.9rem;
        text-transform: uppercase;
      }
    }
  }
}
// *************
// media quieries
// *************
@media only screen and (max-width: 1200px) {
  .landing.mem {
    height: 410px;
  }

  .landing-body {
    &__lk {
      p:first-child {
        margin-bottom: 5px;
      }
    }

    &.mem {
      height: 410px;
      padding: 80px 12px 0 12px;

      .landing-body__title {
        margin-bottom: 40px;
        padding-bottom: 0px;
      }
    }
  }
  // RESET MEM-OFFERS TAKE STYLE FROM 576PX ADD BELOW HERE.... ADJUST TR >> TD, TH ACCORDINGLY
  .mem.wd {
    .wd-options {
      padding: 12px;
    }

    .wd-giftcard {
      padding: 0 !important;
    }

    .mem-offers {
      &__table {
        width: 100%;

        thead {
          tr {
            // general table head setup
            th {
              max-width: 180px !important;
              min-width: 180px !important;
              font-size: 1.9rem;

              p {
                &:first-child {
                  height: 40px;
                }
              }
              // first column of table
              &:first-child {
                height: 150px;
                p {
                  line-height: 1;
                }
              }
            }
          }
        }

        tr {
          // styles for non-header rows [text + circles]
          td {
            min-width: max-content;
          }

          td,
          th {
            // box shadow style for the gold column
            &:nth-child(3) {
              box-shadow: none !important;
              // adds a white box in between to give shadow appear only on the sides of the column
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }

    // bottom table(membership) description section
    .mem-desc {
      height: max-content;
    }
  }
}

@media only screen and (max-width: 840px) {
  .landing.mem {
    height: 340px;
  }

  .landing-body {
    &__lk {
      flex-direction: column;
      margin-top: 0;

      p:first-child {
        margin-bottom: 5px;
      }
    }

    &.mem {
      height: 340px;
      padding: 50px 12px 0 12px;

      a {
        &.btn-prim {
          margin: 0;
          width: 100%;
        }
      }

      .btn-prim,
      .landing-body__desc,
      .landing-body__lk {
        margin-left: 0;
      }

      .landing-body__title {
        margin-bottom: 0;
      }

      .landing-body__desc {
        font-size: 1.8rem;
        text-align: center;
        white-space: normal;
      }
    }
  }

  .mem.wd {
    .wd-options {
      .row {
        margin-bottom: 0 !important;
      }

      .wd-options__txt {
        margin-top: 0;
        max-width: 100%;
        padding: 0;
        padding-bottom: 24px;
      }

      &__img {
        min-width: 100%;
        height: 100%;

        img {
          max-height: 400px;
        }
      }
    }

    .ptr-logos {
      height: 120px;
    }

    .wd-giftcard {
      height: 450px;
      justify-content: space-evenly;
      padding: 0 12px !important;

      h2 {
        font-size: 2.8rem;
        letter-spacing: 7px;
      }

      form {
        margin-bottom: 10px;
        padding: 0 30px;
        width: 100%;

        .form-inner-wrapper {
          flex-direction: column;
          width: 100%;

          #email-submit {
            margin-left: 0;
            margin: 0 auto;
          }

          .inline-form {
            input {
              width: 100%;
            }

            &:first-child {
              margin-top: 40px;
            }
          }
        }
      }
    }

    .mem-offers {
      &__table {
        tr {
          // styles for non-header rows [text + circles]
          td {
            p {
              font-size: 0.9rem;
            }
          }

          td,
          th {
            position: relative;
            // set background color for the first and last column
            &:first-child,
            &:last-child {
              padding-left: 12px;
            }
          }
        }
      }
    }
  }
}
