.section-layout--signup-silver {
  justify-content: flex-start;
  padding: 0 1.2rem;

  .section-content {
    min-width: 80rem;
    width: 60%;

    @include respond-to-breakpoint(750) {
      min-width: auto;
      width: 100%;
    }
  }

  .form-container {
    float: left;
    padding: 1rem;
    width: 100%;
  }

  .collapsible {
    &-body {
      border-bottom: none;
      display: block;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .act-tos-form {
    margin: 2rem 0 0 0;

    .btn-prim {
      width: 30rem;

      @include respond-to-breakpoint(phone) {
        margin-top: 5rem;
        width: 100%;
      }
    }
  }
}
