// ******************
// WINE & DINE HEADER
.dine-header {
  .container-layout {
    @include respond-to-breakpoint(1400) {
      padding: 0 3rem;
    }

    @include respond-to-breakpoint(tab-port) {
      padding: 0 1.2rem;
    }
  }

  + .bg-smoked .container-layout-padded {
    padding: 0 3rem;

    @include respond-to-breakpoint(1400) {
      padding-left: 0;
    }

    @include respond-to-breakpoint(tab-port) {
      padding: 0;
    }
  }
}
// ******************
// SECTION LAYOUT + SECTION CONTENT
.section-layout--dine {
  margin-top: 4rem;
  padding-top: 7.5rem;

  @include respond-to-breakpoint(tab-port) {
    flex-direction: column;
    padding-top: 2rem;
  }

  &:nth-of-type(2) {
    padding-bottom: 10rem;
    margin-bottom: 0;

    @include respond-to-breakpoint(tab-port) {
      padding-bottom: 5rem;
    }

    @include respond-to-breakpoint(phone) {
      margin-top: 0;
      padding-bottom: 0;
    }
  }

  .section-content {
    padding: 0 6rem;

    @include respond-to-breakpoint(tab-port) {
      order: 2;
      padding: 1.2rem 2rem 0 1.2rem;
      width: 100%;
    }

    @include respond-to-breakpoint(phone) {
      padding: 1.2rem 2rem 5rem 1.2rem;
    }

    &__title {
      @include respond-to-breakpoint(1000) {
        font-size: 5rem;
      }

      @include respond-to-breakpoint(phone) {
        font-size: 4rem;
      }
    }

    &__body {
      margin: 3rem 0 5rem 0;

      @include respond-to-breakpoint(tab-port) {
        margin: 1.5rem 0 4rem 0;
      }
    }

    &__btn {
      @include respond-to-breakpoint(1400) {
        flex-direction: column;
      }

      button {
        @include respond-to-breakpoint(phone) {
          width: 100%;
        }
      }
    }

    &__img {
      max-width: 64rem;

      @include respond-to-breakpoint(tab-port) {
        max-width: 100%;
        width: 100%;
      }

      img {
        min-height: 100%;
        @include respond-to-breakpoint(tab-port) {
          height: 30rem;
        }
      }
    }

    &:nth-of-type(even) {
      @include respond-to-breakpoint(1000) {
        padding-right: 2rem;
      }
    }
  }
}
// ******************
// GIFT CARD BANNER
.article-banner--giftcard {
  .container-layout {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @include respond-to-breakpoint(tab-land) {
      padding: 0 1.2rem;
    }

    @include respond-to-breakpoint(750) {
      flex-direction: column;
    }
  }

  .article-banner__content--giftcard {
    min-width: 50%;
    width: 50%;

    @include respond-to-breakpoint(750) {
      width: 100%;
    }
  }

  .article-banner__title--giftcard {
    font: 400 2.6rem $secondary-font;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    i {
      margin-right: 1.2rem;
    }
  }

  .article-banner__desc {
    @include respond-to-breakpoint(750) {
      margin-bottom: 3rem;
    }
  }

  .article-banner__btn-giftcard {
    width: 100%;

    button {
      text-transform: none;
      width: 30rem;

      @include respond-to-breakpoint(750) {
        margin-bottom: 1rem;
        width: 100%;
      }
    }
  }
}
