.header-poster {
  background-color: #000;
  height: 40rem;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  img {
    opacity: 0.6;
    object-fit: cover;
    position: absolute;
    top: -45rem;
    left: 0;
  }
}

.theater-headline {
  padding-top: 11rem;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    background-color: #121212;
    height: 36%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  img {
    box-shadow: 0 2px 9px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 5rem;
    width: 28rem;
    z-index: 1;
  }

  &__content {
    align-self: flex-end;
    overflow: hidden;
    padding-bottom: 4rem;
    padding-left: 5rem;
    width: 100%;

    .t-nav {
      margin: 0;
    }

    .screen-avl {
      color: #fff;
      display: inline-flex;
      font-family: $primary-font;
      margin-top: 6rem;

      h3 {
        font-size: 2.4rem;
        letter-spacing: 3px;
        margin-bottom: 2rem;
      }

      p {
        font-size: 3.2rem;
        margin: 0;
      }

      &__dates {
        position: relative;
        width: 31rem;

        &-list {
          overflow: auto;
          scroll-snap-type: x mandatory;
          padding: 0 100px;
          white-space: nowrap;
          width: 100%;

          &::-webkit-scrollbar {
            display: none;
          }

          &::before,
          &::after {
            content: "";
            height: 60%;
            position: absolute;
            bottom: 0;
            width: 50%;
          }

          &::before {
            background-image: linear-gradient(to right, #121212 25%, transparent 75%);
            left: 0;
          }

          &::after {
            background-image: linear-gradient(to left, #121212 25%, transparent 75%);
            right: 0;
          }

          i {
            cursor: pointer;
            position: absolute;
            bottom: 2rem;
            z-index: 100;

            &:first-of-type {
              left: 0;
            }

            &:last-of-type {
              right: 0;
            }
          }
        }
      }

      &__date {
        display: inline-block;
        line-height: 1;
        min-width: 10rem;
        padding-bottom: 0.5rem;
        scroll-snap-align: center;
        scroll-snap-stop: normal;

        .mth {
          font-size: 2rem;
        }
      }

      &__times {
        margin-left: 3rem;
        position: relative;
        width: 65%;

        &::before,
        &::after {
          content: "";
          background-color: #121212;
          height: 50%;
          position: absolute;
          bottom: 0;
          width: 2rem;
          z-index: 0;
        }

        &::after {
          right: 0;
        }

        &-list {
          display: flex;
          align-items: center;
          height: 6.4rem;
          overflow-x: scroll;
          padding: 0 4rem;
          white-space: nowrap;
          width: 100%;

          &::-webkit-scrollbar {
            display: none;
          }

          i {
            cursor: pointer;
            position: absolute;
            bottom: 2rem;
            z-index: 100;

            &:first-of-type {
              left: 0;
            }

            &:nth-of-type(2) {
              right: 0;
            }
          }
        }
      }

      .time {
        cursor: pointer;
        display: inline-block;
        letter-spacing: 2px;
        line-height: 1;
        margin-right: 2rem;

        &:hover,
        &.active {
          color: $primary-color;
        }
      }
    }
  }
}

.seat-wrapper {
  position: relative;

  &:not(:last-child) {
    margin-right: 1.2rem;
  }

  button {
    cursor: pointer;
  }

  button,
  div {
    border: 3px solid $muted;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 4px;
    position: relative;

    &::after {
      content: "";
      background-color: $muted;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    &:disabled {
      background-color: $muted-light;
      border-color: $muted-light;
      cursor: auto;

      &::after {
        visibility: hidden;
      }
    }

    &:focus {
      background-color: transparent;
      outline: none;
    }

    &.active {
      border-color: $primary-color;

      &:not(.seat-vip)::after {
        background-color: $primary-color;
      }
    }
  }

  .seat {
    &-acc,
    &-cple,
    &-reg,
    &-vip,
    &-na {
      height: 2.4rem;
      position: relative;
      overflow: hidden;
      width: 2.4rem;

      &::after {
        content: "";
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

    &-acc {
      &::after {
        height: 60%;
        top: 0;
      }
    }

    &-cple {
      width: 4.5rem;

      &::after {
        height: 50%;
      }
    }

    &-na {
      background-color: $muted-light;
      border-color: $muted-light;

      &::after {
        background-color: $muted-light;
      }
    }

    &-vip {
      &::after {
        background-color: transparent;
        border-bottom: 2rem solid $muted;
        border-right: 2rem solid transparent;
        height: 30%;
        top: 0;
        left: 0;
      }

      &.active::after {
        border-bottom: 2rem solid $primary-color;
      }
    }
  }
}

.seat-selection {
  justify-content: space-between;
  padding: 4rem 1.2rem;
  position: relative;
  max-width: 120.4rem;

  &__chart {
    min-width: 64rem;
    width: 65%;
  }

  &__header {
    align-items: flex-end;
    margin-bottom: 5rem;
    z-index: 1;

    p {
      color: #151515a2;
      font-size: 1.3rem;
      white-space: nowrap;
    }

    .theater-name {
      line-height: 1;
      margin-right: auto;
      white-space: nowrap;
      width: 100%;

      p {
        font: 500 2.08rem $primary-font;
        letter-spacing: 1px;
      }

      h2 {
        font-size: 4rem;
      }
    }
  }

  &__legend-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__legend {
    width: max-content;

    &:nth-of-type(1) {
      padding-right: 8rem;
      position: relative;

      &::after {
        content: "";
        background-color: $secondary-section-bg-color;
        height: 100%;
        opacity: 0.5;
        position: absolute;
        top: 0;
        right: 4rem;
        width: 1px;
      }
    }
  }

  &__screen {
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 0;

    &::before {
      background-color: $section-bg-color;
      content: "";
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 8rem;
      z-index: -1;
    }

    &::after {
      content: "";
      background-color: $secondary-section-bg-color;
      height: 3px;
      position: absolute;
      top: 1.1rem;
      left: 0;
      width: 100%;
      z-index: -2;
    }
  }

  &__layout {
    margin-top: 1rem;

    .small-note {
      color: #7b7c7e;
    }

    &-grid {
      margin-top: 4rem;

      div {
        margin-bottom: 0.35rem;
      }

      .empty-row {
        height: 2.5rem;
      }

      .row-char {
        &:first-of-type {
          margin-right: auto;
        }

        &:last-of-type {
          margin-left: auto;
        }
      }

      .seat-wrapper {
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}
// ********************
// Media Queries
@include respond-to-breakpoint(1366) {
  .theater-headline {
    .container-layout {
      padding: 0 3rem;
    }
  }
}

@include respond-to-breakpoint(1100) {
  .seat-selection {
    &__header {
      flex-direction: column;
      margin-bottom: 3rem;

      .theater-name {
        > * {
          display: inline;
        }

        p {
          line-height: 3;
        }

        h2 {
          float: right;
        }
      }
    }

    &__legend-wrapper {
      margin-top: 2rem;
      justify-content: center;
    }
  }
}

@include respond-to-breakpoint(1090) {
  .theater-headline {
    &__content {
      padding-bottom: 1rem;

      .screen-avl {
        flex-direction: column;
        margin-top: 3rem;

        h3 {
          margin-bottom: 0;
        }

        &__times {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
}

@include respond-to-breakpoint(1024) {
  .seat-selection {
    justify-content: center;
  }
}

@include respond-to-breakpoint(900) {
  .header-poster {
    img {
      top: -35rem;
    }
  }
}

@include respond-to-breakpoint(790) {
  .header-poster {
    img {
      top: -20rem;
    }
  }
}

@include respond-to-breakpoint(700) {
  .theater-headline {
    .container-layout {
      margin-top: 3.5rem;
    }

    &::after {
      height: 45%;
    }

    img {
      display: none;
    }

    &__content {
      margin-top: 6rem;
      padding-left: 0;

      .screen-avl {
        p {
          font-size: 2.4rem;
        }

        &__date {
          .mth {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@include respond-to-breakpoint(680) {
  .seat-selection {
    &__chart {
      min-width: auto;
      width: 100%;
    }
  }
}

@include respond-to-breakpoint(620) {
  .seat-selection {
    height: 80rem;

    &__legend {
      &:nth-of-type(1) {
        padding-right: 0;

        &::after {
          display: none;
        }
      }

      &:nth-of-type(2) {
        position: absolute;
        bottom: 1.2rem;
      }
    }
  }
}

@include respond-to-breakpoint(phone) {
  .header-poster {
    height: 45rem;

    img {
      height: 45rem;
      top: 0;
      left: 0;
    }
  }

  .theater-headline {
    .container-layout {
      margin-top: 3.5rem;
    }

    &::after {
      height: 42%;
    }
  }
}

@include respond-to-breakpoint(500) {
  .seat-selection {
    &__layout {
      &-grid {
        .row-char {
          font-size: 1.3rem;

          &:first-of-type {
            display: none;
          }

          &:last-of-type {
            display: none;
          }
        }

        .seat-wrapper {
          &:not(:last-child) {
            margin-right: 0.75rem;
          }
        }
      }
    }
  }
}

@include respond-to-breakpoint(370) {
  .seat-selection {
    &__layout {
      &-grid {
        .row-char {
          display: none;
        }

        .seat-wrapper {
          cursor: pointer;

          &:not(:last-child) {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
