.event-header {
  position: relative;
}

.description-text--events {
  width: 100%;
}

.contact__box {
  max-width: 70rem;
  position: absolute;
  top: 0;
  left: 50%;
  width: 48%;
  z-index: 1;

  &-title {
    font-size: 5rem;
    margin-bottom: 0;
  }

  &-role {
    color: $muted;
    font-size: 1.8rem;
  }

  &-title,
  &-role {
    background-color: #fff;
    max-width: 60rem;
  }

  &-info {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4.5rem;
    width: 95%;
  }
}

.info-item {
  padding: 0 1rem;

  &:first-child {
    padding-left: 0;
  }

  &__type {
    display: block;
    color: $muted;
    font-size: 1.7rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  a {
    color: $primary-color;
    font: 400 3.8rem $primary-font;
  }
}

.section-layout--events-plan {
  flex-direction: column;
  margin-top: 8rem;
}

.section-content--event-plan {
  padding: 0 6rem 0 0;

  &:nth-of-type(2) {
    padding-left: 4rem;
  }

  .section-content__body {
    line-height: 1.6;

    &-secondary {
      line-height: 1.2;

      strong {
        font: 400 2.8rem $primary-font;
      }
    }
  }
}

.section-content__img--tours {
  padding-right: 4rem;
}

.section-content__img--event-plan {
  .section-content__btn {
    justify-content: space-evenly;
    margin-top: 5rem;

    button {
      width: 40%;
    }
  }
}
// ********************
// Media Queries
@include respond-to-breakpoint(1400) {
  .section-content__img--event-plan {
    .section-content__btn {
      flex-direction: row;
      padding: 0 1.2rem;
    }
  }
}

@include respond-to-breakpoint(tab-land) {
  .section-layout--events-plan {
    .container-layout-padded {
      padding: 5rem 0;
    }
  }

  .section-content--event-plan {
    padding: 0 2rem 0 2rem;
  }

  .section-content__img--event-plan {
    padding: 0 2rem 0 0;
  }

  .section-content__img--tours {
    padding-left: 4rem;
  }
}

@include respond-to-breakpoint(tab-port) {
  .event-header {
    .container-layout {
      padding: 0 2.5rem;
    }
  }

  .description-text--events {
    > p {
      margin: 0 2.5rem;
      font-size: 1.6rem;
    }
  }

  .contact__box {
    &-info {
      justify-content: space-between;
    }
  }

  .info-item {
    padding: 0 0.8rem;

    a {
      font-size: 2.8rem;
    }
  }

  .section-layout--events-plan {
    .container-layout-padded {
      padding-top: 2rem;
      flex-direction: row;
    }
  }

  .section-content--event-plan {
    .section-content__title {
      font-size: 5rem;
    }
  }

  .section-content__img--event-plan {
    .section-content__btn {
      flex-direction: column;
      margin-top: 3rem;

      button {
        width: 100%;
      }
    }
  }

  .section-content__img--tours {
    padding-right: 2rem;
  }
}

@include respond-to-breakpoint(750) {
  .event-header {
    .container-layout {
      padding: 0 1.2rem;
    }

    .description-text {
      padding-right: 0;
    }
  }

  .description-text--events {
    flex-direction: column;
    width: 100%;

    > p {
      margin: 0;
      width: 100%;
    }
  }

  .contact__box {
    position: static;
    margin-top: 1rem;
    width: 100%;
  }

  .section-layout--events-plan {
    margin-top: 4rem;
  }
}

@include respond-to-breakpoint(700) {
  .contact__box {
    &-info {
      flex-wrap: nowrap;
      margin-top: 1.5rem;
      width: 100%;
    }
  }

  .section-layout--events-plan {
    .container-layout-padded {
      padding-top: 0;
      flex-direction: column;
    }
  }

  .section-content--event-plan {
    order: 2;
    padding: 1.2rem;
    width: 100%;

    &:nth-of-type(2) {
      padding-left: 1.2rem;
    }

    .section-content__title {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
  }

  .section-content__img--event-plan {
    padding: 0;
    width: 100%;

    .section-content__btn {
      width: 100%;
    }
  }

  .section-content__img--tours {
    padding: 0;
    max-width: none;
    width: 100%;
  }
}

@include respond-to-breakpoint(445) {
  .contact__box {
    &-info {
      flex-wrap: wrap;
    }
  }
}
