.four-o-four {
  background-color: #000;
  height: 100vh;
  width: 100%;

  img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}
// ********************
// Media Queries
@include respond-to-breakpoint(tab-port) {
  .four-o-four {
    img {
      width: 155%;
    }
  }
}
