// ---------------------
// SIGNUP HEADLINE/HEADER
.signup-headline {
  padding: 3rem 0;

  .t-nav {
    margin-bottom: 0.5rem;
  }
}
// ---------------------
// MEMBERSHIP PRICE COST/SECONDARY HEADLINE TEXT
.t-subline {
  font: 400 3rem $primary-font;
  font-family: $primary-font;
  font-size: 3rem;
  text-transform: uppercase;
  margin-left: 3rem;

  &--text {
    font-size: 1.8rem;
    font-family: $secondary-font;
    text-transform: none;
  }
}
// ---------------------
// FORM CONTAINER(UL) + COLLAPSIBLE FORM
.form-container {
  float: left;
  max-width: 70rem;
  padding: 0 9 0 8rem;
  width: 100%;

  .collapsible {
    background-color: $section-bg-color;
    backface-visibility: hidden;
    border: none;
    box-shadow: none;
    display: block;
    margin-left: 6.4rem;
    position: relative;
    will-change: height;

    li {
      min-height: 9rem;
      position: relative;

      &::before {
        backface-visibility: hidden;
        background-color: $section-bg-color;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        content: "";
        height: 2.5rem;
        position: absolute;
        top: 2rem;
        left: -4.5rem;
        width: 2.5rem;
        will-change: background-color, border-color;
        z-index: 2;
      }

      &:not(:last-of-type) {
        &::after {
          backface-visibility: hidden;
          background-color: rgba(black, 0.2);
          content: "";
          height: 100%;
          position: absolute;
          top: 27px;
          left: -3.4rem;
          width: 2px;
        }
      }

      &.complete {
        &::before {
          background-color: $primary-color;
          border: 2px solid $primary-color;
          transition: all 0.3s ease-in-out;
        }
      }

      &.active .collapsible-header button {
        color: #121212;
      }

      .collapsible-header {
        background-color: $section-bg-color;
        border: none;
        margin: 0;
        padding-top: 0;
      }

      .collapsible-body {
        border-bottom: none;
        padding: 5px 0 1rem 1rem;
      }

      form {
        border-bottom: none !important;
        max-height: 220rem;
        opacity: 1;
        overflow-y: visible;
        transition: max-height 0.4s;
        visibility: visible;
        width: 100%;
        will-change: height;
      }
    }
  }
}
// ********************
// Media Queries
@include respond-to-breakpoint(1384) {
  .signup-headline {
    padding: 3rem 1.2rem;
  }
}

@include respond-to-breakpoint(tab-port) {
  .form-container {
    float: left;
  }
}

@include respond-to-breakpoint(750) {
  .signup-headline {
    padding: 2rem 1.2rem;
  }

  .form-container {
    padding: 0 1.2rem 0 1rem;

    .collapsible {
      li {
        .collapsible-header {
          padding-left: 0;
          margin-left: -0.7rem;
        }

        .collapsible-body {
          padding-left: 0;
          margin-left: -0.7rem;
        }
      }
    }
  }
}

@include respond-to-breakpoint(650) {
  .t-subline {
    margin-left: 1.2rem;
  }
}

@include respond-to-breakpoint(phone) {
  .form-container {
    .collapsible {
      margin-left: 4.4rem;

      li {
        &::before {
          height: 2rem;
          width: 2rem;
          top: 12px;
          left: -40px;
        }

        &:not(:last-of-type) {
          &::after {
            left: -30px;
          }
        }
      }
    }
  }
}
