.container-layout--ua-header {
  padding-top: 3rem;
}

.account__card {
  padding: 3.5rem 2rem;
  justify-content: space-between;

  &-name {
    font: 400 3.6rem $primary-font;

    span {
      text-transform: capitalize;
    }
  }

  &-note {
    display: block;
    color: $muted;
  }

  ul {
    justify-content: space-between;
    min-width: 65rem;
  }

  .info-item {
    padding: 4px;

    &__label {
      color: $muted;
      white-space: nowrap;
    }

    &__val {
      font: 400 3.6rem $primary-font;
    }
  }
}

.account__tabs {
  background-color: #ebeaea;
  box-shadow: none;
  color: #121212;
  font-size: 1.6rem;
  height: max-content;
  line-height: inherit;
  width: 52rem;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    background: transparent;
    height: 0;
    width: 0;
  }

  .nav-tabs {
    display: flex;
    flex-direction: column;
    min-width: 73.5rem;

    &__item {
      cursor: pointer;
      float: unset;
      padding: 1.2rem 0;
      position: relative;
      transition: all 0.2s;
      will-change: background-color, color;
      width: 100%;

      i {
        color: black;
        font-size: 5rem;
        margin: 2.8rem;
      }

      &.active {
        background-color: $section-bg-color;
        color: $primary-color;

        i {
          color: currentColor;
        }
      }
    }
  }
}

.sections-container {
  padding: 0 5rem;
  width: 62%;
}

.acct-page {
  height: max-content;
  min-height: 600px;

  &__headline {
    font-size: 6.4rem;
    padding-top: 1.2rem;
  }

  &__orders {
    .acct-page__headeline-container {
      p {
        margin: 3rem 0;
      }

      .btn-prim {
        display: inline-block;
        margin-bottom: 8rem;
        width: 30rem;
      }
    }

    .acct-page__book-history {
      padding-bottom: 2rem;

      .quick-note {
        margin-bottom: 3rem;
      }

      .book-history__item {
        font-size: 1.8rem;
        justify-content: space-between;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }

        div:nth-child(even) {
          text-align: right;
        }

        .purchase-title {
          font-weight: bold;
          opacity: 0.8;
        }
      }
    }
  }

  &__per-info {
    width: 94%;

    .acct-page__headeline-container {
      .side-note {
        margin-bottom: 5rem;
      }
    }

    article {
      > div {
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }
      }

      .inline-form {
        width: 48%;
      }
    }

    .btn-prim {
      width: 25rem;
    }
  }

  &__status {
    .acct-page__headeline-container {
      justify-content: space-between;
    }

    .acct-status__rank {
      float: right;
      font-size: 6.4rem;
    }

    .acct-status__desc {
      margin: 3rem 0 8rem 0;
    }

    .acct-progress {
      &__points {
        margin: 3rem 0 0.5rem 0;
      }

      &__points--current {
        font: 400 4rem $primary-font;
        margin-left: 3rem;
      }

      .starter-value,
      .completed-value {
        font: 400 3rem $primary-font;

        &:last-of-type {
          float: right;
        }
      }

      .switch-form-container {
        span {
          padding-left: 2rem;
        }
      }
    }
  }

  &__rewards {
    .side-note {
      margin: 2rem 0;
    }

    .rewards__list {
      margin-bottom: 5rem;
    }

    .reward-point-counter {
      line-height: 1;
      margin-bottom: 5rem;

      span {
        font: 400 3.8rem $primary-font;
      }
    }

    .refer-a-friend {
      .side-note {
        margin-top: 0;
      }

      .invite-link__label {
        font-size: 1.4rem;
        opacity: 0.8;
      }

      .invite-link__url {
        font-size: 2rem;
        margin: 1.2rem 0 3.5rem 0;
      }

      .btn-prim {
        width: 32rem;
      }
    }
  }

  &__wallet {
    .side-note {
      margin: 2rem 0 4.5rem 0;
    }

    .wallet__list {
      margin-bottom: 8rem;
    }

    h3 {
      font-weight: 400;
    }

    form {
      margin-top: 2.5rem;
      width: 100%;

      > div {
        width: 75%;

        &:not(:last-of-type) {
          margin-bottom: 5rem;
        }

        &:nth-child(2) {
          justify-content: space-between;

          .inline-form {
            width: 31%;
          }
        }
      }

      .btn-prim {
        margin-top: 1rem;
        width: 22rem;
      }
    }
  }

  &__settings {
    form {
      margin-top: 2rem;

      > div {
        &:not(:last-of-type) {
          margin-bottom: 4rem;
        }
      }

      .btn-prim {
        width: 22rem;
      }
    }
  }
}

.cvc-loc-img {
  background-color: #fff;
  border: 1px solid rgba($muted, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  opacity: 0;
  padding: 1.6rem 1rem 1rem 1.6rem;
  position: absolute;
  bottom: 5.5rem;
  left: -6.5rem;
  min-width: 25rem;
}
// ********************
// Media Queries
@include respond-to-breakpoint(1366) {
  .container-layout--ua-header {
    padding: 3rem 1.2rem 0 1.2rem;

    @include respond-to-breakpoint(950) {
      padding-top: 1.2rem;
    }
  }
}

@include respond-to-breakpoint(1000) {
  .container-layout--ua-content {
    flex-direction: column;
    margin-top: 2.5rem;
  }

  .account__tabs {
    width: 100%;

    .nav-tabs {
      flex-direction: row;

      &__item {
        flex-direction: column;
        text-align: center;

        i {
          transform: scale(0.8);
          margin: 0;
        }

        .tab-desc {
          .text-uppercase {
            font-size: 1.3rem;
          }

          .muted {
            display: none;
          }
        }
      }
    }
  }

  .sections-container {
    width: 100%;
  }

  .acct-page {
    &__headline {
      font-size: 4.8rem;
    }
  }

  .cvc-loc-img {
    left: -3rem;
  }
}

@include respond-to-breakpoint(950) {
  .container-layout--ua-header {
    padding-top: 1.2rem;
  }

  .account__card {
    flex-direction: column;
    padding: 2rem;

    ul {
      margin-top: 2rem;
    }
  }

  .acct-page {
    &__per-info {
      width: 100%;
    }
  }
}

@include respond-to-breakpoint(830) {
  .account__tabs {
    .nav-tabs {
      &__item {
        i {
          transform: scale(0.8);
        }

        .tab-desc {
          .text-uppercase {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@include respond-to-breakpoint(750) {
  .account__card {
    padding: 2rem 0 0 0;

    ul {
      flex-wrap: wrap;
      min-width: auto;
    }

    .info-item {
      width: 50%;

      &:nth-child(even) {
        text-align: right;
      }

      &__val {
        font-size: 2.8rem;
      }
    }
  }

  .acct-page {
    &__orders {
      .acct-page__headeline-container {
        .btn-prim {
          margin-bottom: 3rem;
        }
      }

      .acct-page__book-history {
        .book-history__item {
          flex-direction: column;

          div:nth-child(even) {
            text-align: left;
          }
        }
      }
    }

    &__status {
      .acct-status__rank {
        font-size: 3.6rem;
      }
    }

    &__rewards {
      .rewards__list {
        margin-bottom: 2rem;
      }

      .reward-point-counter {
        margin-bottom: 0;

        span {
          font-size: 2.8rem;
        }
      }
    }
  }
}

@include respond-to-breakpoint(650) {
  .sections-container {
    padding: 0 2.5rem;
  }

  .acct-page {
    &__settings {
      .switch-form-container {
        margin-top: 2rem !important;
      }
    }
  }
}

@include respond-to-breakpoint(phone) {
  .acct-page {
    &__per-info {
      article {
        > div {
          flex-direction: column;
        }

        .inline-form {
          width: 100%;

          &:nth-child(even) {
            margin-top: 3rem;
          }
        }
      }
    }

    &__wallet {
      form {
        > div {
          .inline-form {
            width: 90%;
          }

          &:nth-child(2) {
            flex-direction: column;

            .inline-form {
              width: 90%;

              &:not(:last-child) {
                margin-bottom: 5rem;
              }
            }
          }
        }
      }
    }
  }

  .cvc-loc-img {
    bottom: 4rem;
    left: 0rem;
  }
}
