.dine-header {
  + .bg-smoked .container-layout-padded {
    padding: 0 3rem;
  }
}

.section-layout--dine {
  margin-top: 4rem;
  padding-top: 7.5rem;

  &:nth-of-type(2) {
    padding-bottom: 10rem;
    margin-bottom: 0;
  }

  .section-content {
    padding: 0 6rem;

    &__img {
      max-width: 64rem;

      img {
        min-height: 100%;
      }
    }

    &__btn {
      margin-top: 2.5rem;
    }
  }
}

.article-banner--giftcard {
  .container-layout {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .article-banner__content--giftcard {
    min-width: 50%;
    width: 50%;
  }

  .article-banner__title--giftcard {
    font: 400 2.6rem $secondary-font;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    i {
      margin-right: 1.2rem;
    }
  }

  .article-banner__btn-giftcard {
    width: 100%;

    button {
      text-transform: none;
      width: 30rem;
    }
  }
}
// ********************
// Media Queries
@include respond-to-breakpoint(1400) {
  .dine-header {
    .container-layout {
      padding: 0 3rem;
    }

    + .bg-smoked .container-layout-padded {
      padding-left: 0;
    }
  }

  .section-layout--dine {
    .section-content {
      &__btn {
        flex-direction: column;
      }
    }
  }
}

@include respond-to-breakpoint(tab-land) {
  .article-banner--giftcard {
    .container-layout {
      padding: 0 1.2rem;
    }
  }
}

@include respond-to-breakpoint(1000) {
  .section-layout--dine {
    .section-content {
      &__title {
        font-size: 5rem;
      }

      &:nth-of-type(even) {
        padding-right: 2rem;
      }
    }
  }
}

@include respond-to-breakpoint(tab-port) {
  .dine-header {
    .container-layout {
      padding: 0 1.2rem;
    }

    + .bg-smoked .container-layout-padded {
      padding: 0;
    }
  }

  .section-layout--dine {
    flex-direction: column;
    padding-top: 2rem;

    &:nth-of-type(2) {
      padding-bottom: 5rem;
    }

    .section-content {
      order: 2;
      padding: 1.2rem 2rem 0 1.2rem;
      width: 100%;

      &__body {
        margin: 1.5rem 0 4rem 0;
      }

      &__img {
        max-width: 100%;
        width: 100%;

        img {
          height: 30rem;
        }
      }
    }
  }
}

@include respond-to-breakpoint(750) {
  .article-banner--giftcard {
    .container-layout {
      flex-direction: column;
    }

    .article-banner__content--giftcard {
      width: 100%;
    }

    .article-banner__desc {
      margin-bottom: 3rem;
    }

    .article-banner__btn-giftcard {
      width: 100%;

      button {
        margin-bottom: 1rem;
        width: 100%;
      }
    }
  }
}

@include respond-to-breakpoint(phone) {
  .section-layout--dine {
    &:nth-of-type(2) {
      margin-top: 0;
      padding-bottom: 0;
    }

    .section-content {
      padding: 1.2rem 2rem 5rem 1.2rem;

      &__title {
        font-size: 4rem;
      }

      &__btn {
        button {
          width: 100%;
        }
      }
    }
  }
}
