<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- *************** -->
    <!-- facvicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest" />
    <title>FLIX Theater | Dine in theater</title>
  </head>
  <body style="overflow: hidden;">
    <main class="four-o-four flex-row flex-center">
      <img src="/assets/images/jpg/404.jpg" alt="page not found" />
    </main>
  </body>
</html>
