<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- *************** -->
    <!-- owl-carosuel -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />
    <!-- *************** -->
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/e9063b30c3.js"></script>
    <!-- *************** -->
    <!-- facvicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest" />
    <!-- *************** -->
    <!-- materializecss -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>FLIX Theater | Dine in theater</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <header class="container-layout signup-headline">
      <div class="t-nav">
        <h2>Sign up as Silver</h2>
      </div>
      <span class="t-subline t-subline--text"
        >Sign up for Silver Membership</span
      >
    </header>
    <main class="bg-smoked">
      <div class="container-layout">
        <div
          class="section-layout section-layout--signup section-layout--signup-silver"
        >
          <!-- left half of signup (account sign up forms) -->
          <div class="section-content section-content--form-steps">
            <div class="form-container">
              <ul class="collapsable">
                <li>
                  <form
                    id="act-personal__form"
                    class="collapsible-body"
                    action="#"
                  >
                    <div class="form-container-row">
                      <div class="input-field">
                        <input
                          type="text"
                          id="fName"
                          name="fName"
                          class="validate"
                          autocomplete="off"
                          required
                        />
                        <label for="fName">First Name</label>
                      </div>
                      <div class="input-field">
                        <input
                          type="text"
                          id="lName"
                          name="lName"
                          class="validate"
                          autocomplete="off"
                          required
                        />
                        <label for="lName">Last Name</label>
                      </div>
                    </div>
                    <div class="form-container-row">
                      <div class="input-field">
                        <input
                          type="email"
                          id="email"
                          name="email"
                          class="validate"
                          autocomplete="email"
                          required
                        />
                        <label for="email">Email</label>
                      </div>
                      <div class="input-field">
                        <input
                          type="tel"
                          id="phone"
                          name="phone"
                          class="validate"
                          autocomplete="off"
                          required
                        />
                        <label for="phone">Phone Number</label>
                      </div>
                    </div>
                    <div class="form-container-row">
                      <div class="input-field">
                        <input
                          type="password"
                          id="password"
                          name="password"
                          class="validate"
                          autocomplete="off"
                          required
                        />
                        <label for="password">Password</label>
                        <div><i class="fas fa-lock fa-lg"></i></div>
                      </div>
                      <div class="input-field">
                        <input
                          type="password"
                          id="confirmPassword"
                          name="confirmPassword"
                          class="validate"
                          autocomplete="off"
                          required
                        />
                        <label for="confirmPassword">Confirm Password</label>
                        <div><i class="fas fa-lock fa-lg"></i></div>
                      </div>
                    </div>
                    <div class="form-container-row">
                      <div class="input-field">
                        <input
                          type="text"
                          id="referralCode"
                          name="referralCode"
                          class="validate"
                          autocomplete="off"
                        />
                        <label for="referralCode">Referral Code</label>
                      </div>
                    </div>
                  </form>
                </li>
              </ul>
              <form class="act-tos-form flex-column" action="#">
                <label for="tcmPolicy">
                  <input
                    type="checkbox"
                    id="tcmPolicy"
                    name="tcmPolicy"
                    class="filled-in"
                    required
                  />
                  <span
                    >I agree to the
                    <a href="#" class="color-text color-text__link"
                      >Terms & Conditions</a
                    >
                    and
                    <a href="#" class="color-text color-text__link"
                      >Membership policies</a
                    ></span
                  >
                </label>
                <label for="eSubscription">
                  <input
                    type="checkbox"
                    id="eSubscription"
                    name="eSubscription"
                    class="filled-in"
                    checked
                    required
                  />
                  <span
                    >I agree to receive information about my account,
                    invitations to FLIX events, weekly showtimes emails, special
                    offers and news</span
                  >
                </label>
                <button class="btn-prim">Submit</button>
                <p>
                  Already have an account?
                  <a href="#si-popup" class="color-text color-text__link"
                    >Sign in</a
                  >
                </p>
                <div class="mem-desc__faq">
                  <p>
                    * Discount varies based on day of week and location. Pricing
                    is per ticket per visit. Subject to change without notice.
                    Other restrictions may apply.
                  </p>
                  <p>
                    * Only 5 tickets / day valid towards 25 Tickets Reward and
                    Membership Level Upgrade
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
