<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- *************** -->
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/e9063b30c3.js"></script>
    <!-- *************** -->
    <!-- facvicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/flix-theater-server/public/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/flix-theater-server/public/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/flix-theater-server/public/images/favicons/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/flix-theater-server/public/images/favicons/site.webmanifest"
    />
    <title>FLIX Theater | Dine in theater</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <header class="container-layout signup-headline">
      <div class="t-nav">
        <h2>FLIX Premium Gold Membership</h2>
      </div>
      <span class="t-subline">$40/year</span>
    </header>
    <main class="bg-smoked">
      <div class="container-layout">
        <div class="section-layout section-layout--signup">
          <!-- left half of signup (account sign up forms) -->
          <div class="section-content section-content--form-steps">
            <div class="form-container">
              <div class="collapsible-form">
                <h3>
                  <button id="act-personal" class="btn-transparent">
                    Personal Information
                  </button>
                </h3>
                <form id="act-personal__form" class="form__hidden" action="#">
                  <div class="form-container-row">
                    <div class="inline-form">
                      <input
                        type="text"
                        name="fname"
                        id="fname"
                        autocomplete="off"
                        placeholder="First Name"
                        required
                      />
                      <label for="fname">First Name</label>
                    </div>
                    <div class="inline-form">
                      <input
                        type="text"
                        name="lname"
                        id="lname"
                        autocomplete="off"
                        placeholder="Last Name"
                        required
                      />
                      <label for="lname">Last Name</label>
                    </div>
                  </div>
                  <div class="form-container-row">
                    <div class="inline-form">
                      <input
                        type="tel"
                        name="phone"
                        id="phone"
                        autocomplete="tel"
                        placeholder="Phone Number"
                        required
                      />
                      <label for="phone">Phone Number</label>
                    </div>
                    <div class="inline-form">
                      <input
                        type="text"
                        name="dob"
                        id="dob"
                        autocomplete="bday-day"
                        placeholder="Birth Date"
                        required
                      />
                      <label for="dob">Birth Date</label>
                    </div>
                  </div>
                  <div class="radio-wrapper mt-sm">
                    <label for="male" class="inline-form__radio"
                      >Male
                      <input id="gender-male" type="radio" name="male" />
                      <span class="checkmark"></span>
                    </label>
                    <label for="female" class="inline-form__radio"
                      >Female
                      <input id="gender-female" type="radio" name="female" />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="form-container-row">
                    <div class="inline-form">
                      <input
                        type="text"
                        name="referralCode"
                        id="referralCode"
                        autocomplete="off"
                        placeholder="Referral Code"
                        required
                      />
                      <label for="referralCode">Referral Code</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="collapsible-form">
                <h3>
                  <button id="act-login" class="btn-transparent">
                    Login Information
                  </button>
                </h3>
                <form id="act-login__form" class="form__hidden" action="#">
                  <div class="form-container-row">
                    <div class="inline-form">
                      <input
                        type="email"
                        name="email"
                        id="email"
                        autocomplete="email"
                        placeholder="Email"
                        required
                      />
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="form-container-row">
                    <div class="inline-form">
                      <input
                        type="password"
                        name="password"
                        id="password"
                        autocomplete="off"
                        placeholder="Password"
                        required
                      />
                      <label for="password">Password</label>
                      <i class="fas fa-lock fa-lg"></i>
                    </div>
                  </div>
                  <div class="form-container-row">
                    <div class="inline-form">
                      <input
                        type="password"
                        name="confirmPassword"
                        id="confirmPassword"
                        autocomplete="off"
                        placeholder="Confirm Password"
                        required
                      />
                      <label for="confirmPassword">Confirm Password</label>
                      <i class="fas fa-lock fa-lg"></i>
                    </div>
                  </div>
                </form>
              </div>
              <div class="collapsible-form">
                <h3>
                  <button id="act-address" class="btn-transparent">
                    Address Information
                  </button>
                </h3>
                <form id="act-address__form" class="form__hidden" action="#">
                  <div class="form-container-row">
                    <div class="inline-form">
                      <input
                        type="text"
                        name="streetAddress"
                        id="streetAddress"
                        autocomplete="street-address"
                        placeholder="Street Address"
                        required
                      />
                      <label for="streetAddress">Street Address</label>
                    </div>
                    <div class="inline-form">
                      <input
                        type="text"
                        name="city"
                        id="city"
                        autocomplete="off"
                        placeholder="City"
                        required
                      />
                      <label for="city">City</label>
                    </div>
                  </div>
                  <div class="form-container-row">
                    <div class="inline-form">
                      <select name="state" id="state">
                        <option value=""></option>
                        <option value="new jersey">New Jersey</option>
                      </select>
                      <label for="state">State</label>
                      <i class="fas fa-caret-down fa-lg"></i>
                    </div>
                    <div class="inline-form">
                      <input
                        type="number"
                        name="zipcode"
                        id="zipcode"
                        autocomplete="postal-code"
                        placeholder="Zip Code"
                        required
                      />
                      <label for="zipcode">Zip Code</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="collapsible-form">
                <h3>
                  <button id="act-cc" class="btn-transparent">
                    Card Information
                  </button>
                </h3>
                <form id="act-cc__form" class="form__hidden" action="#">
                  <p class="pay-note">
                    Payment with FLIX is always secure
                  </p>
                  <h2 class="pay-sum">Current Charge $0</h2>
                  <p class="pay-details">Annual Fee $45 + Tax $3.99</p>
                  <p class="note">
                    Your card will be charged $45 plus tax after your 30 day
                    free trial expires
                  </p>
                  <div class="form-container-row">
                    <div class="inline-form">
                      <input
                        inputmode="numeric"
                        type="text"
                        name="cc-number"
                        id="cc-number"
                        autocomplete="cc-number"
                        placeholder="Payment Card number"
                        required
                      />
                      <label for="cc-number">Payment Card number</label>
                    </div>
                  </div>
                  <div class="form-container-row">
                    <div class="inline-form">
                      <input
                        inputmode="numeric"
                        type="text"
                        name="cc-exp-date"
                        id="cc-exp-date"
                        autocomplete="cc-exp-month"
                        placeholder="Exp Date"
                        required
                      />
                      <label for="cc-exp-date">Exp Date</label>
                    </div>
                    <div class="inline-form">
                      <input
                        type="text"
                        name="cc-cvv"
                        id="cc-cvv"
                        autocomplete="cc-csc"
                        placeholder="CVV/CVC"
                        required
                      />
                      <label for="cc-cvv">CVV/CVC</label>
                      <div class="cvc-loc-img">
                        <img
                          src="/flix-theater-server/public/images/svg/cc-cvc.svg"
                          alt="cvv/cvc location"
                        />
                      </div>
                      <span class="toggle-info-btn"></span>
                    </div>
                    <div class="inline-form">
                      <input
                        type="text"
                        name="zipcode"
                        id="zipcode"
                        autocomplete="postal-code"
                        placeholder="Zip Code"
                        required
                      />
                      <label for="zipcode">Zip Code</label>
                    </div>
                  </div>
                  <div class="form-container-row">
                    <div class="inline-form">
                      <input
                        type="text"
                        name="billing-address"
                        id="billing-address"
                        autocomplete="billing"
                        placeholder="Billing Address"
                        required
                      />
                      <label for="billing-address">Billing Address</label>
                    </div>
                  </div>
                </form>
              </div>
              <form class="act-tos-form flex-column" action="#">
                <label class="cb-liner" for="tcm-policy">
                  <input
                    type="checkbox"
                    name="tcm-policy"
                    id="tcm-policy"
                    required
                  />
                  <span class="checkmark"></span>
                  I agree to the
                  <a href="#" class="color-text color-text__link"
                    >Terms & Conditions</a
                  >
                  and
                  <a href="#" class="color-text color-text__link"
                    >Membership policies</a
                  >
                </label>
                <label class="cb-liner" for="e-subscription">
                  <input
                    type="checkbox"
                    name="e-subscription"
                    id="e-subscription"
                  />
                  <span class="checkmark"></span>
                  <p>
                    I agree to receive information about my account, invitations
                    to FLIX events, weekly showtimes emails, special offers and
                    news
                  </p>
                </label>
                <button class="btn-prim">Submit</button>
                <p>
                  No thank you, sign me up for
                  <a href="#" class="color-text color-text__link"
                    >Silver Membership</a
                  >
                </p>
                <div class="section-content--mem-desc__faq">
                  <p>
                    * Discount varies based on day of week and location. Pricing
                    is per ticket per visit. Subject to change without notice.
                    Other restrictions may apply.
                  </p>
                  <p>
                    * Only 5 tickets / day valid towards 25 Tickets Reward and
                    Membership Level Upgrade
                  </p>
                </div>
              </form>
            </div>
          </div>
          <!-- right half of signup (membership rewards/descriptions) -->
          <div class="section-content section-content--mem-desc">
            <div class="section-content--mem-desc__content">
              <h2 class="promo-text">
                Try our FLIX Premium Gold Membership free for 30 days
              </h2>
              <p class="rewards-text">
                Rewards include:
              </p>
              <ul class="mem-desc-list">
                <li>10% off your Food & Beverage</li>
                <li>Member-Only Ticket Pricing</li>
                <li>Free Premium Plus Birthday Ticket</li>
                <li>Earning 1 Point for every $1 Spent</li>
                <li>
                  Much more...
                  <a href="#" class="color-text color-text__link"
                    >Click here to learn more about FLIX Premium Gold
                    Membership</a
                  >
                </li>
              </ul>
              <p class="rewards-sys-desc">
                The more you visit FLIX, the more we treat you. Start earning
                points towards additional rewards, perks, priority ticket access
                and VIP services with each visit. Earn your way to Platinum and
                Platinum Elite and enjoy a complimentary Dessert and Champagne
                for two along with other surprises on your Birthday and
                Anniversary.
              </p>
            </div>
            <div class="section-content--mem-desc__img">
              <img
                src="https://images.unsplash.com/photo-1578404249989-0fcd5bd6eb7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"
                alt="gold member"
              />
            </div>
            <div class="section-content--mem-desc__faq">
              <p>
                * Discount varies based on day of week and location. Pricing is
                per ticket per visit. Subject to change without notice. Other
                restrictions may apply.
              </p>
              <p>
                * Only 5 tickets / day valid towards 25 Tickets Reward and
                Membership Level Upgrade
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  </body>
</html>
