.radio-wrapper {
  display: flex;
  width: 100%;

  .inline-form__radio {
    cursor: pointer;
    display: block;
    font-size: $default-font-size;
    padding-left: 3.5rem;
    position: relative;
    user-select: none;

    input {
      cursor: pointer;
      position: absolute;
      opacity: 0;

      &:checked ~ .checkmark {
        background-color: #fff;
        border: 1px solid red;

        &:after {
          display: block;
        }
      }
    }

    &:last-child {
      margin-left: 6rem;
    }

    &:hover input ~ .checkmark {
      background-color: #ccc;
    }

    &:hover input:checked ~ .checkmark {
      background-color: #fff;
    }

    .checkmark {
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;

      &:after {
        background: $primary-color;
        border-radius: 50%;
        content: "";
        display: none;
        height: 10px;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
      }
    }
  }
}
