// *****************************
// OWL-CAROUSEL
.owl-nav {
  .owl-prev,
  .owl-next {
    background-color: rgba(black, 0.6) !important;
    border: 1px solid rgba(black, 0.25) !important;
    border-radius: 50% !important;
    color: white !important;
    font-size: 5rem !important;
    font-weight: 100 !important;
    height: 5rem !important;
    outline: none !important;
    position: absolute !important;
    top: 40%;
    width: 5rem !important;

    @include respond-to-breakpoint(phone) {
      font-size: 4rem !important;
      height: 4rem !important;
      width: 4rem !important;
    }

    span {
      position: absolute;
      top: -1.8rem;
      left: 1.6rem;
    }
  }

  .owl-prev {
    left: 0;

    span {
      @include respond-to-breakpoint(phone) {
        top: -1.3rem;
        left: 1.1rem;
      }
    }
  }

  .owl-next {
    right: 0;

    span {
      @include respond-to-breakpoint(phone) {
        top: -1.3rem;
        left: 1.3rem;
      }
    }
  }
}
