.container-layout {
  margin: auto;
  max-width: 136.6rem;
  width: 100%;

  &-padded {
    max-width: 136.6rem;
    padding: 5.5rem 4rem;
  }
}

.section-content {
  display: block;
  width: 50%;

  &__title {
    color: $primary-color;
    font-size: 7rem;
    line-height: 1;
  }

  &__btn {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    button {
      margin: 0;
      text-transform: capitalize;
      width: 26rem;

      &:not(:last-of-type) {
        margin-bottom: 1.2rem;
      }
    }
  }

  &__img {
    margin: auto;
    max-width: 660px;
    width: 50%;

    img {
      max-height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }
}
// ********************
// Media Queries
@include respond-to-breakpoint(1366) {
  .container-layout {
    &--limiter {
      padding: 0 1.2rem;
    }

    &--limiter-lg {
      padding: 0 3rem;
    }
  }
}

@include respond-to-breakpoint(big-desktop) {
  .container-layout {
    &-padded {
      margin: auto;
    }
  }
}

@include respond-to-breakpoint(tab-land) {
  .container-layout {
    &-padded {
      padding: 6rem 0;
    }
  }
}

@include respond-to-breakpoint(tab-port) {
  .container-layout {
    &-padded {
      flex-direction: column;
      padding: 0 0 4rem 0;
    }
  }
}

@include respond-to-breakpoint(phone) {
  .container-layout {
    &-padded {
      padding: 0;
    }
  }
}
