.footer {
  height: 23rem;

  a {
    color: currentColor;
    transition: all 0.25s ease-in-out;

    &:hover {
      color: $primary-color;
    }
  }

  &__info {
    padding-right: 2.5rem;
    width: max-content;

    .navbar-brand {
      color: $primary-color;
      font-size: 4rem;
    }
  }

  &__adr {
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 1.8;
    white-space: nowrap;
  }

  &__links {
    border-left: 4px solid #000;
    border-right: 4px solid #000;
    width: 100%;

    &-social {
      font-size: 1.6rem;

      a {
        &:not(:last-child) {
          margin-right: 3rem;
        }
      }
    }

    &-list {
      flex-wrap: wrap;
      font-family: $primary-font;
      margin-top: 2rem;

      li {
        &:not(:first-of-type) a {
          position: relative;

          &::after {
            content: "";
            background-color: #000;
            position: absolute;
            top: 70%;
            left: 0;
            transform: translateY(-70%);
            height: 65%;
            width: 2px;
          }
        }

        a {
          font-size: 3rem;
          padding: 0 1rem;
        }
      }
    }
  }

  &__copy-rht {
    color: $muted;
    font-size: 1.3rem;
    margin-top: 2rem;
  }
}
// ********************
// Media Queries
@include respond-to-breakpoint(tab-land) {
  .footer {
    padding: 1.2rem 0 1.2rem 0;

    &__adr {
      align-self: flex-start;
    }

    &__links {
      border-right: none;

      &-list {
        margin-top: 8px;
      }
    }
  }
}

@include respond-to-breakpoint(tab-port) {
  .footer {
    &__links {
      width: 80%;

      &-list {
        li {
          a {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

@include respond-to-breakpoint(660) {
  .footer {
    flex-direction: column;
    padding: 0;

    &__info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      padding: 0 5rem;
      width: 100%;

      .navbar-brand {
        align-self: flex-end;
        padding-bottom: 1rem;
      }
    }

    &__links {
      border-left: none;
      border-top: 2px solid #000;
      padding: 0 5rem;
      width: 100%;

      &-social {
        margin-top: 2rem;
      }

      &-list {
        li {
          &:not(:first-of-type) a {
            &::after {
              width: 1px;
            }
          }

          a {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
