.section-content {
  // ******************
  // Gold signup Right side membership description + promo
  &--mem-desc {
    padding: 0 1.5rem 0 4rem;
    min-width: 50%;

    .mem-desc__content {
      margin-bottom: 2rem;

      > * {
        margin-bottom: 2.5rem;
      }

      .promo-text {
        color: $primary-color;
        font-family: $primary-font;
        font-size: 4rem;
        letter-spacing: 3px;
        line-height: 1;
        max-width: 55rem;
        text-transform: uppercase;
      }

      .rewards-text {
        margin-bottom: 1rem;
      }

      .mem-desc-list {
        margin-left: 2rem;
      }
    }

    .mem-desc__img {
      img {
        max-height: 340px;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
  }
}
// ********************
// Media Queries
@include respond-to-breakpoint(tab-port) {
  .section-content {
    // ******************
    // Gold signup left side multi step form
    &--form-steps {
      align-items: flex-start;
      margin-top: 2rem;
      order: 2;
      width: 100%;
    }
    // ******************
    // Gold signup Right side membership description + promo
    &--mem-desc {
      padding: 0 3rem;
    }
  }
}

@include respond-to-breakpoint(750) {
  .section-content {
    // ******************
    // Gold signup left side multi step form
    &--form-steps {
      margin-top: 0;
    }
    // ******************
    // Gold signup Right side membership description + promo
    &--mem-desc {
      padding-left: 2rem;

      .mem-desc__content {
        margin-bottom: 0;

        .promo-text {
          max-width: 100%;
        }

        .rewards-sys-desc {
          display: none;
        }
      }

      .mem-desc__img {
        display: none;
      }
    }
  }
}
