.section-layout {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  // ******************
  // Section Layout + Section Content for gold signup
  &--signup {
    flex-shrink: 0;
    padding: 4rem 0 5rem 0;

    .section-content {
      .mem-desc__faq {
        color: $muted;
        font-size: 1.4rem;
        margin: 3rem 0;

        p {
          margin: 2.2rem 0;
        }

        &:nth-child(1) {
          border: 2px solid red;
        }
      }

      &:first-of-type .mem-desc__faq {
        display: none;
      }
    }
  }
}
// ********************
// Media Queries
@include respond-to-breakpoint(tab-port) {
  .section-layout {
    &--signup {
      flex-direction: column;

      .section-content {
        width: 100%;
      }
    }
  }
}

@include respond-to-breakpoint(750) {
  .section-layout {
    &--signup {
      flex-direction: column;

      .section-content {
        width: 100%;

        .mem-desc__faq {
          display: none;
        }

        &:first-of-type .mem-desc__faq {
          display: block;
          margin-bottom: 0;

          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
