<!-- -------------------------- -->
<!-- error message modal -->
<% if(errorMsg && errorMsg.length > 0) { %>
  <div class="modal modal-msg" id="modal-msg">
    <button class="btn-worded-only modal-close">&times;</button>
    <div class="modal-content">
      <h2>Error</h2>
      <p><%= errorMsg %></p>
    </div>
  </div>
<% } %>