<!-- -------------------------- -->
<!-- confirmation message modal -->
<% if(promptMsg && promptMsg.length > 0) { %>
  <div class="modal modal-msg" id="modal-msg">
    <button class="btn-worded-only modal-close">&times;</button>
    <div class="modal-content">
      <h2>Confirmation Cancellation</h2>
      <p><%= promptMsg %></p>
      <div class="modal-btns">
        <button type="button" class="btn-outline-dark">No</button>
        <button type="button" class="btn-prim">Yes</button>
      </div>
    </div>
  </div>
<% } %>