%btn-outlined {
  cursor: pointer;
  display: block;
  font-family: $primary-font;
  font-size: 3.6rem;
  line-height: 1;
  padding: 0.7rem 0;
  text-align: center;
  transition: all 0.3s ease;
  white-space: nowrap;

  &:hover {
    @include set-button-colors(#121212, white);
    border: 1px solid #121212;
  }

  &:focus {
    outline: none;
  }
}

button {
  &:disabled,
  &[disabled] {
    background-color: $muted-light;
    border: none;
    cursor: initial;

    &:hover {
      background-color: $muted-light;
      border: none;
    }
  }

  &:focus {
    background-color: inherit;
  }
}

.btn-block {
  width: 100%;
}
// *************************
// Media Queries
@include respond-to-breakpoint(650) {
  %btn-outlined {
    width: 100% !important;
  }
}

@import "./primary.scss";
@import "./outlined.scss";
@import "./toggle-info-btn";
@import "./toggle-info-btn";
@import "./transparent";
@import "./worded-only";
