.btn-prim {
  @extend %btn-outlined;
  @include set-button-colors($primary-color, #fff);
  border: 1px solid $primary-color;

  &:focus,
  &:focus-visible,
  &:focus-within {
    background-color: $primary-color;
    color: white;
  }

  &:hover {
    background-color: black;
    color: white;
  }
}
